<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ site.title }}</title>
    <style>
      html {
        font-size: 1.2rem;
        line-height: 1.4;
      }
      body {
        margin: 0;
      }
      body > h1 {
        text-align: center;
      }
      section {
        margin-inline: auto;
        max-width: 1110px;
        padding-block: 1.5rem;
      }
      section + section {
        border-top: 1px solid #ccc;
      }
      section :is(h1, h2, h3, h4) {
        margin-inline: -1rem;
        padding: 1rem;
      }
      section > div > h1 {
        margin-top: 0;
      }
			img {
				max-width: 100%;
				height: auto;
				font-style: italic;
			}
      small {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
      }
      small > span {
        padding: 0.025rem .5rem;
        background-color: #f1f5f9;
      }
      [id]:target {
        animation: target-animation 4s ease;
      }

      /* Keyframes for the background color animation */
      @keyframes target-animation {
        0%,
        50% {
          background-color: #ffa;
        }

        100% {
          background-color: transparent;
        }
      }
    </style>
  </head>
  <body>

    {{ content }}

  </body>
</html>