---
layout: base
---

{{ content }}

<ol>
  {% for supplement in supplements %}
    <li>
      <h2>{{ supplement.title }}</h2>
      {{ supplement.body }}
    </li>
  {% endfor %}
</ol>

<pre>
  {{ supplements | prettyJson }}
</pre>