/* CUSTOM STYLES */

:root {
  --color-callout-header: #00497a; /* pair w/white text */
  --color-callout-body: #b0d4e3; /* pair w/black text */
  --color-example-body: #e1e1e1; /* pair w/black text */
  --color-example-header: #505050; /* pair w/white text */
}

/* CUSTOM STYLES: page layout */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  color: white;
  background-color: var(--color-callout-header);
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* CUSTOM STYLES: content */

aside,
figure,
table {
  margin-bottom: 1rem;
}

.bg--primary-light *:last-child {
  margin-bottom: 0;
}

.bg--primary-light {
  background-color: var(--color-callout-body);
}

.bg--primary {
  background-color: var(--color-callout-header);
}

/* CUSTOM STYLES: lists */

.lower-alpha-list {
  list-style-type: lower-alpha;
}

.paren-numlist {
  list-style: none;
}

.paren-numlist > li:before {
  content: "(" counter(section, decimal) ") ";
  position: absolute;
  top: 0;
  left: -0.75em;
}

.paren-numlist > li {
  position: relative;
  counter-increment: section;
  padding-left: 1em;
}

.paren-numlist > li ol {
  list-style: none;
}

.paren-numlist > li ol li:before {
  content: "(" counter(subsection, lower-alpha) ") ";
  position: absolute;
  top: 0;
  left: -0.75em;
}

.paren-numlist > li ol li {
  position: relative;
  counter-increment: subsection;
  padding-left: 1em;
}

.paren-numlist > li ol ol {
  list-style: none;
}

.paren-numlist > li ol ol li:before {
  content: "(" counter(subsubsection, lower-roman) ") ";
  position: absolute;
  top: 0;
  left: -0.75em;
}

.paren-numlist > li ol ol li {
  position: relative;
  counter-increment: subsubsection;
  padding-left: 1em;
}

.paren-numlist > li ol ol ol {
  list-style: none;
}

.paren-numlist > li ol ol ol li:before {
  content: counter(subsubsubsection, decimal) ". ";
  position: absolute;
  top: 0;
  left: -0.25em;
}

.paren-numlist > li ol ol ol li {
  position: relative;
  counter-increment: subsubsubsection;
  padding-left: 1.5em;
}

.lower-alpha-list {
  list-style-type: lower-alpha;
}


/* CUSTOM STYLES: math */
.math-ish {
  font: var(--bs-body-font-size) var(--bs-body-font-family);
}


/* CUSTOM STYLES: tables */

tbody td.td-omitted {
  background-color: silver;
}

/* CUSTOM STYLES: DLs */

.dl-inline > dt,
.dl-inline > dd {
  display: inline;
}

.dl-inline > dd:after {
  content: "";
  display: table;
  margin-bottom: 1rem;
}

.dl-inline--equals > dt:after {
  content: " = ";
}

.dl-inline--colon > dt:after {
  content: ": ";
}

.dl-inline--dash > dt:after {
  content: " - ";
}

.dl-inline--colon dd > :is(dl, blockquote) {
  margin: 0 0 1rem 2rem;
}

.dl--acronyms {
  display: grid;
  grid-template-columns: 10ch 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.dl--acronyms > * {
  margin: 0;
}

/* CUSTOM STYLES: target animated background */

[id]:target,
[id]:target > td {
  animation: target-animation 4s ease;
  scroll-margin-top: 4rem;
}

/* Keyframes for the :target background color animation */
@keyframes target-animation {
  0%,
  50% {
    background-color: var(--bs-warning-bg-subtle, #fff6c4);
  }

  100% {
    background-color: transparent;
  }
}

/* BS OVERRIDES */

.table thead th {
  background-color: var(--color-callout-body);
}

.h3 {
  color: var(--color-callout-header);
}

.h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

h6,
.h6 {
  font-weight: 700;
}
