<h1 id="221-title">221 Step 1. Element Credit Points</h1>



<section id="221-1" aria-labelledby="221-1-title">
  <h2 id="221-1-title" class="h4">Credit for Activities not listed in the “Coordinator’s Manual”</h2>

  <!-- TODO: add content for 221-1 -->
</section>