<h1 id="412b-title">412.b. Leverage (LEV)</h1>



<section id="412b-1" aria-labelledby="412b-1-title">
  <h2 id="412b-1-title" class="h5">Credit Criteria for LEV</h2>

  <!-- TODO: add content for 412b-1 -->
</section>

<section id="412b-2" aria-labelledby="412b-2-title">
  <h2 id="412b-2-title" class="h5">Credit Points for LEV</h2>

  <!-- TODO: add content for 412b-2 -->
</section>

<section id="412b-3" aria-labelledby="412b-3-title">
  <h2 id="412b-3-title" class="h5">Impact Adjustment for LEV</h2>

  <!-- TODO: add content for 412b-3 -->
</section>

<section id="412b-4" aria-labelledby="412b-4-title">
  <h2 id="412b-4-title" class="h5">Documentation for LEV Provided by the Community</h2>

  <!-- TODO: add content for 412b-4 -->
</section>