<h1 id="422a-title">422.a. Open space preservation (OSP)</h1>



<section id="422a-1" aria-labelledby="422a-1-title">
  <h2 id="422a-1-title" class="h5">Credit Criteria for OSP</h2>

  <!-- TODO: add content for 422a-1 -->
</section>

<section id="422a-2" aria-labelledby="422a-2-title">
  <h2 id="422a-2-title" class="h5">Credit Points for OSP</h2>

  <!-- TODO: add content for 422a-2 -->
</section>

<section id="422a-3" aria-labelledby="422a-3-title">
  <h2 id="422a-3-title" class="h5">Impact Adjustment for OSP</h2>

  <!-- TODO: add content for 422a-3 -->
</section>

<section id="422a-4" aria-labelledby="422a-4-title">
  <h2 id="422a-4-title" class="h5">Documentation for OSP Provided by the Community</h2>

  <!-- TODO: add content for 422a-4 -->
</section>