{# ← add this #}

<section id="422e-1" aria-labelledby="422e-1-title">
  <h2 id="422e-1-title" class="h5">Credit Criteria for CEOS</h2>

  <!-- TODO: add content for 422e-1 -->
</section>

<section id="422e-2" aria-labelledby="422e-2-title">
  <h2 id="422e-2-title" class="h5">Credit Calculation for CEOS</h2>

  <!-- TODO: add content for 422e-2 -->
</section>

<section id="422e-3" aria-labelledby="422e-3-title">
  <h2 id="422e-3-title" class="h5">Documentation for CEOS Provided by the Community</h2>

  <!-- TODO: add content for 422e-3 -->
</section>