{# ← add this #}

<section id="431a" aria-labelledby="431a-title">
  <h2 id="431a-title" class="h4">431.a. Activity Description</h2>

  <!-- TODO: add content for 431a -->
</section>

<section id="431b" aria-labelledby="431b-title">
  <h2 id="431b-title" class="h4">431.b. Activity Credit Criteria</h2>

  <!-- TODO: add content for 431b -->
</section>

<section id="431c" aria-labelledby="431c-title">
  <h2 id="431c-title" class="h4">431.c. Activity Impact Adjustment</h2>

  <!-- TODO: add content for 431c -->

<section id="431c-1" aria-labelledby="431c-1-title">
  <h3 id="431c-1-title" class="h5">Impact Adjustment Maps</h3>

  <!-- TODO: add content for 431c-1 -->
</section>
</section>

<section id="431d" aria-labelledby="431d-title">
  <h2 id="431d-title" class="h4">431.d. Activity Documentation Provided by the Community</h2>

  <!-- TODO: add content for 431d -->
</section>