<h1 id="432b-title">432.b. Freeboard (FRB)</h1>



<section id="432b-1" aria-labelledby="432b-1-title">
  <h2 id="432b-1-title" class="h5">Credit Criteria for FRB</h2>

  <!-- TODO: add content for 432b-1 -->
</section>

<section id="432b-2" aria-labelledby="432b-2-title">
  <h2 id="432b-2-title" class="h5">Credit Points for FRB</h2>

  <!-- TODO: add content for 432b-2 -->
</section>

<section id="432b-3" aria-labelledby="432b-3-title">
  <h2 id="432b-3-title" class="h5">Impact Adjustment for FRB</h2>

  <!-- TODO: add content for 432b-3 -->
</section>

<section id="432b-4" aria-labelledby="432b-4-title">
  <h2 id="432b-4-title" class="h5">Documentation for FRB Provided by the Community</h2>

  <!-- TODO: add content for 432b-4 -->
</section>