<h1 id="432g-title">432.g. Enclosure limits (ENL)</h1>



<section id="432g-1" aria-labelledby="432g-1-title">
  <h2 id="432g-1-title" class="h5">Credit Criteria for ENL</h2>

  <!-- TODO: add content for 432g-1 -->
</section>

<section id="432g-2" aria-labelledby="432g-2-title">
  <h2 id="432g-2-title" class="h5">Credit Points for ENL</h2>

  <!-- TODO: add content for 432g-2 -->
</section>

<section id="432g-2b" aria-labelledby="432g-2b-title">
  <h2 id="432g-2b-title" class="h5">CAZ and V-Zone ENL Bonus Credit (ENLcaz)</h2>

  <!-- TODO: add content for 432g-2b -->
</section>

<section id="432g-3" aria-labelledby="432g-3-title">
  <h2 id="432g-3-title" class="h5">Impact Adjustment for ENL and ENLcaz</h2>

  <!-- TODO: add content for 432g-3 -->
</section>

<section id="432g-4" aria-labelledby="432g-4-title">
  <h2 id="432g-4-title" class="h5">Documentation for ENL Provided by the Community</h2>

  <!-- TODO: add content for 432g-4 -->
</section>