{# ← add this #}

<section id="432h-1" aria-labelledby="432h-1-title">
  <h2 id="432h-1-title" class="h5">Credit Criteria for BC</h2>

  <!-- TODO: add content for 432h-1 -->
</section>

<section id="432h-2" aria-labelledby="432h-2-title">
  <h2 id="432h-2-title" class="h5">Credit Points for BC</h2>

  <!-- TODO: add content for 432h-2 -->
</section>

<section id="432h-3" aria-labelledby="432h-3-title">
  <h2 id="432h-3-title" class="h5">Impact Adjustment for BC</h2>

  <!-- TODO: add content for 432h-3 -->
</section>

<section id="432h-4" aria-labelledby="432h-4-title">
  <h2 id="432h-4-title" class="h5">Documentation for BC Provided by the Community</h2>

  <!-- TODO: add content for 432h-4 -->
</section>