<h1 id="432k-title">432.k. Coastal A Zones (CAZ)</h1>



<section id="432k-1" aria-labelledby="432k-1-title">
  <h2 id="432k-1-title" class="h5">Credit Criteria for CAZ</h2>

  <!-- TODO: add content for 432k-1 -->
</section>

<section id="432k-2" aria-labelledby="432k-2-title">
  <h2 id="432k-2-title" class="h5">Credit Points for CAZ</h2>

  <!-- TODO: add content for 432k-2 -->
</section>

<section id="432k-3" aria-labelledby="432k-3-title">
  <h2 id="432k-3-title" class="h5">Impact Adjustment for CAZ</h2>

  <!-- TODO: add content for 432k-3 -->
</section>

<section id="432k-4" aria-labelledby="432k-4-title">
  <h2 id="432k-4-title" class="h5">Documentation for CAZ Provided by the Community</h2>

  <!-- TODO: add content for 432k-4 -->
</section>