{# ← add this #}

<section id="452d-1" aria-labelledby="452d-1-title">
  <h2 id="452d-1-title" class="h5">Credit Criteria for WQ</h2>

  <!-- TODO: add content for 452d-1 -->
</section>

<section id="452d-2" aria-labelledby="452d-2-title">
  <h2 id="452d-2-title" class="h5">Credit Points for WQ</h2>

  <!-- TODO: add content for 452d-2 -->
</section>

<section id="452d-3" aria-labelledby="452d-3-title">
  <h2 id="452d-3-title" class="h5">Impact Adjustment for WQ</h2>

  <!-- TODO: add content for 452d-3 -->
</section>

<section id="452d-4" aria-labelledby="452d-4-title">
  <h2 id="452d-4-title" class="h5">Documentation for WQ Provided by the Community</h2>

  <!-- TODO: add content for 452d-4 -->
</section>