<p>
  The National Flood Insurance Program (NFIP) requires that participating communities maintain a
  record of the elevation of the lowest floor of any new building or substantial improvement built in the
  SFHA (see the <em>Code of Federal Regulations</em> (44 CFR §60.3(b)(5)(iii))). In 44 CFR §59.22(a)(9)(iii),
  the NFIP also requires that communities make their elevation and related building information
  available for public inspection and flood insurance rating.
</p>

<p>
  Participation in the CRS requires that, in addition to the NFIP requirements, communities obtain
  other floodplain-related construction certifications and ensure that they are filled out completely and
  correctly. This should be done as soon as construction is complete, preferably by someone who is
  familiar with the NFIP, and before the certificate of occupancy or certificate of use is issued. It is vital
  to get accurate certifications filed while the community still has authority to get corrections made.
</p>

<p>
  Accurate and readily available data on a building’s elevation and other construction information is
  encouraged so an application for a flood insurance policy can reflect more detailed rating variables.
  Such information not only contributes to accurate insurance rating but also helps determine whether
  buildings are compliant with NFIP requirements.
</p>

<p>
  Therefore, a prerequisite for participation in the Community Rating System is that communities
  obtain, review, correct, and maintain all these certificates; make them available to the public; and
  have written procedures for this process, as described in Section 310.
</p>

<section id="301a" aria-labelledby="301a-title">
  <h2 id="301a-title" class="h3">301.a. CRS Participation Requirement</h2>
  <p>
    The community is required to maintain “finished-construction” Elevation Certificates and all other
    required floodplain-related construction certificates (see Section 301.b) on all buildings in the
    community’s Special Flood Hazard Area (SFHA) that are constructed, substantially improved, and/or
    reconstructed due to substantial damage after the community applies for CRS credit. Communities
    must review the certificates and make sure at least 90% of them are correct according to the
    verification process. Written procedures for the management of construction certificates (see Activity
    310) are required as well, and must meet the credit criteria in Section 312.a.
  </p>

  <p>
    Those few NFIP communities that have no SFHA may still receive credit for this activity since credit is
    for having written procedures in place on how to handle construction certificates once they are
    obtained from property owners or developers. Communities should remember, however, that a CRS
    community with no SFHA that either subsequently receives a FIRM from FEMA that delineates areas
    of SFHA or annexes an area with an SFHA must begin maintaining construction certificates on the
    date of the FIRM or annexation or it will lose its credit.
  </p>

  <p>
    Some communities require floodplain-related construction certificates for new buildings in flood-prone
    areas that are outside the SFHA but are regulated by the community. The CRS encourages this as a
    good floodplain management practice. However, because the certificates are not used in flood
    insurance rating, there is no requirement under this activity that certificates for buildings outside the
    SFHA be maintained or submitted for review.
  </p>

  <p>The four specific participation requirements are these:</p>

  <ol class="paren-numlist">
    <li>
      The community must maintain the completed construction certificates listed in Section 301.b,
      <em>Required Floodplain-related Construction Certificates</em>, for all insurable buildings constructed,
      substantially improved, and/or reconstructed due to substantial damage in the SFHA every year
      and must supply these certificates annually as prescribed by the CRS (see Section 301.e,
      <em>Construction Certificate Verification</em>). “Buildings” are defined in Section 302.a.
    </li>
    <li>
      The community must review all its required construction certificates to ensure that they are
      complete and that the information is correct. This is described in Section 301.c,
      <em>Construction Certificate Checklists</em>, and Section 301.d,
      <em>Getting Correct Construction Certificates</em>. At least 90% of the certificates must be correct at each
      annual review in order for the community to remain in the CRS.
    </li>
    <li>
      The community must make copies of construction certificates readily available to anyone upon
      request. All participating communities must be able to retrieve the certificates, including those
      from projects whose permit files may have been archived or discarded.
    </li>
    <li>
      The community must have written procedures for the management of its floodplain-related
      construction certificates that includes a description for how the community implements
      requirements (1), (2), and (3), and follows the criteria listed in Section 312.a.
    </li>
  </ol>
</section>

<section id="301b" aria-labelledby="301b-title">
  <h2 id="301b-title" class="h3">301.b. Required Floodplain-related Construction Certificates</h2>
  <p>
    Under this activity a community is required to employ all five of the following where appropriate.
    For CRS purposes, therefore, “construction certificates” means all required floodplain-related
    certificates listed in this sub-section that apply to the community’s situation (e.g., inland communities
    will not have use for a V zone design certification).
  </p>

  <p>
    All new buildings or substantial improvements built in the SFHA must have a record showing that the
    lowest floor is at or above the base flood elevation, using the <strong>FEMA Elevation Certificate (FEMA Form
      FF-206-FY-22-152)</strong>.
  </p>

  <p>
    Floodproofed non-residential buildings require <strong>FEMA’s Floodproofing Certificate for Non-Residential Structures
      (FEMA Form FF-206-FY-22-153)</strong>.
    A separate Elevation Certificate is not needed for these buildings. The 2023 Floodproofing Certificate
    requires elevations based on finished construction.
  </p>

  <p>
    A <strong>V Zone design certificate</strong> is required for all buildings constructed, substantially improved, and/or
    reconstructed due to substantial damage in coastal high hazard areas (V Zones and coastal A Zones,
    where credited) after the community’s first verification visit under the 2013 edition of the Coordinator’s Manual.
  </p>

  <p>
    A V Zone design certificate is available from the Contractor. Communities with alternative forms or
    certifications may submit them to their Contractor to see if they meet this activity’s criteria.
    Communities that have received a residential basement floodproofing exception must use
    <strong>FEMA’s Residential Basement Floodproofing Certificate (FEMA Form FF-206-FY-21-122)</strong> where applicable.
  </p>

  <p>
    When engineered flood openings are installed in the foundation of a building, an <strong>engineered opening
      certification</strong>
    must be attached to the Elevation Certificate. The International Code Council® Evaluation Service (ICC-ES)
    produces reports for engineered flood openings, and individual certifications also can be done provided
    that they cover all required items. Engineered opening certifications are required for all buildings
    constructed, substantially improved, or reconstructed due to substantial damage, since the community’s
    first verification visit under the 2013 Coordinator’s Manual.
  </p>

  <p>
    Copies of the FEMA Elevation Certificate, FEMA Floodproofing Certificate, and FEMA Residential Basement
    Floodproofing Certificate can be downloaded from FEMA’s website. Instructions are included with the forms.
  </p>

  <p>
    For new construction, only the current FEMA forms are acceptable. A community may receive credit
    by transferring data from other forms onto a FEMA certificate.
  </p>
  <aside class="bg--primary-light p-3">
    <h3 class="h6">Elevation Certificate form</h3>
    <p>The most recent Elevation Certificate form must be used.</p>
    <p>The V Zone Design Certificate, CRS Checklist, and Memo of Correction forms can be obtained
    from your Contractor.</p>
  </aside>
</section>

<section id="301c" aria-labelledby="301c-title">
  <h2 id="301c-title" class="h3">301.c. Construction Certificate Checklists</h2>
  <p>
    As noted in Section 301.a, the community must review its required construction certificates to
    ensure that the information is correct and must meet a 90% accuracy threshold in doing so. The CRS
    Contractor collects all certificates the community is required to submit and checks them for specific
    items. The CRS checklist for the 2006, 2009, 2012, 2015, and 2019 Elevation Certificate forms is
    available from the Contractor. The Contractor can also provide a form with the checklist items
    highlighted, as well as similar checklists for earlier versions of the FEMA forms. Checklists for the
    Floodproofing Certificate, V Zone design certificate, and the Residential Basement Floodproofing
    Certificate can be obtained from the Contractor.
  </p>

  <p>
    If any of the items on the checklist are not completed or are incorrect, that certificate will count
    against the 90% accuracy requirement as explained in Section 301.e.
  </p>
</section>

<section id="301d" aria-labelledby="301d-title">
  <h2 id="301d-title" class="h3">301.d. Getting Correct Construction Certificates</h2>
  <p>
    It is the community’s responsibility to ensure that the construction certificates it maintains have
    been completed correctly. Certificates provided by surveyors must be proofread and corrected if
    errors or omissions are found. Although the surveyed elevations are likely to be correct, it is not
    unusual for surveyors to enter the wrong FIRM date or diagram number or to leave some entries
    blank in Section C of the Elevation Certificate form.
  </p>

  <p>
    One way in which communities have improved the quality of their Elevation Certificates is by
    completing Sections A and B at the time of the permit application. The partially completed form then
    is given to the applicant or to the surveyor, who then can focus on completing the surveyed
    information in Section C. This has been shown to reduce many of the more common errors.
  </p>

  <p>For certificates with omitted or incorrect checklist items, the community has these options:</p>

  <ol class="paren-numlist">
    <li>
      For any inaccurate or incomplete information in Section C2 of an Elevation Certificate, the local
      official should request a new certificate.
    </li>
    <li>
      If incomplete or inaccurate information is found in the other sections, the local official can do the
      following. As a general rule, and as law in some states, the local official should not mark up a
      signed and sealed form.
    </li>
  </ol>
  <p>
    The forms may be returned to the surveyor with instructions on what needs to be changed or
    corrected;
  </p>
  <p>
    The local official can prepare a separate memo with the correct information and attach the
    memo to the form. When the certificate is provided to an inquirer, the memo must be included with it; or For Elevation Certificates, the local official can note the changes or corrections in Section G.
  </p>
</section>

<section id="301e" aria-labelledby="301e-title">
  <h2 id="301e-title" class="h3">301.e. Construction Certificate Verification</h2>
  <p>
    Each year at its annual recertification date, a community must submit the following:
  </p>

  <ol class="paren-numlist">
    <li>
      A list of all permits (the “Permit List”) issued for new buildings constructed, substantially
      improved, and/or reconstructed due to substantial damage in the SFHA since the previous
      recertification due date (February 1, May 1, August 1, or October 15) or since the date the
      community applied to the CRS, whichever is later. The list must include the address of each
      building; the use of each building (e.g., residential, non-residential, or other term used in Section
      A4 of the FEMA Elevation Certificate); FIRM zone (AE, A, VE, etc.); whether it is a new building, a
      substantial improvement, or a reconstruction due to substantial damage; the date of the permit;
      and whether the permit is final.
    </li>
    <li>
      Copies of all required construction certificates as described in Section 301.b for all new
      buildings, substantial improvements, and/or reconstructions due to substantial damage in the
      SFHA that have been collected since the previous recertification due date, or the date of the
      community’s initial application to the Community Rating System, whichever is later. All
      certificates are to be submitted to the Contractor.
    </li>
    <li>
      If the community is applying for or receiving credit for regulating areas outside the SFHA, it must
      let the Contractor know. The community will then be advised whether the list of permits and
      copies of certificates in (1) and (2), above, should include properties in those non-SFHA areas.
    </li>
  </ol>

  <p>
    The Permit List and certificates can be provided in paper or digital format, although digital format is
    preferred. Communities are encouraged to scan paper certificates at 300 dpi grayscale (no color).
    The fillable pdf versions of the certificates are preferred, for easier processing. If the community
    maintains digital copies of building permit records, digital copies of the certificates should be
    separated from the rest of the file so that they can easily be collected to meet this requirement.
    Individual certificate files, identified by address, should be submitted if at all possible. The
    community may charge inquirers a reasonable fee to cover the cost of copying the certificates.
  </p>

  <p>
    For this credit, certificates are not needed for accessory structures; non-substantial improvements;
    or non-buildings such as fill, fences, swimming pools, cell towers, etc. Nor are certificates needed for
    properties outside the SFHA (except as noted in Section 301.e(3), above). If certificates are needed
    to verify credit under another activity, they should be submitted with that activity’s documentation.
  </p>
  <aside class="bg--primary-light p-3">
    <h3 class="h6">Finished-Construction</h3>
    <p>It is required to show permits issued for buildings that do not yet have finished construction
    certificates because construction has not been completed. It is also possible to have certificates
    for buildings that are not on the current Permit List because the permits were issued before the
    previous recertification’s due date and not shown as “finished” on the previous permit list. A
    community should ensure that this is accurately communicated to the Contractor.</p>
  </aside>
  <p>
    The CRS Contractor should be notified if there have been no new buildings, substantial
    improvements, or reconstructions due to substantial damage in the SFHA since the last submittal.
  </p>

  <p>
    The Contractor will review the certificates in accordance with the checklist and provide feedback to
    the community. For continued participation in the program, at least 90% of the community’s
    certificates must be correct, i.e., have no errors on them (a missing certificate counts as an error). If
    less than 90% of the certificates pass, the community must correct them to maintain program
    participation. A community is given two chances (the initial submittal plus one opportunity to make
    corrections) to submit the proper certificates to achieve 90% accuracy.
  </p>

  <p>
    A community’s fulfillment of its construction certificate management requirement for achieving Class
    9 is based on the review of certificates on the community’s annual recertification due date: it is not
    part of the cycle verification process. During the year of a community’s cycle verification, the required
    construction certificates will be reviewed by the Contractor in the same manner and at the same
    time as the community’s recertification review, with one difference: only the Permit List and required
    certificates need to be submitted to the Contractor for that year’s review. The rest of the
    documentation needed for recertification will be submitted and reviewed according to the cycle
    verification process (see Section 230). Separating the two processes during a verification year keeps
    the community’s reporting period and due date for construction certificates the same from year to
    year.
  </p>

  <p>
    If a community needs to make corrections to its Permit List and/or construction certificates, the
    reporting dates do not change. The list and certificates will be reviewed again at the next
    recertification due date. If a community cannot achieve the 90% accuracy requirement, it will lose its
    participation in the CRS at the effective date of the next “Flood Insurance Manual.”
  </p>
  <aside class="bg--primary-light p-3">
    <h3 class="h6">Elevation Certificates Completed by the Community</h3>
    <p>Elevation Certificates can be completed by a local official who is authorized by law or ordinance
    to administer the community’s floodplain management program, provided that the original
    surveyed elevations in Section C were obtained by a registered design professional.
    A community can transfer data from a surveying project to the FEMA Elevation Certificate form if
    it can demonstrate that the source of the data was appropriate and if the source is described in
    Section G of the certificate.</p>
  </aside>
</section>