<h1 id="302-title">302 Impact Adjustments for Buildings</h1>

{# Top-level child headings under this page #}



<section id="302a" aria-labelledby="302a-title">
  <h2 id="302a-title" class="h3">302.a. Definition of “Building”</h2>

  <!-- TODO: add content for 302a -->
</section>



<section id="302b" aria-labelledby="302b-title">
  <h2 id="302b-title" class="h3">302.b. Pre- and Post-FIRM buildings</h2>

  <!-- TODO: add content for 302b -->
</section>