
<section id="302a" aria-labelledby="302a-title">
  <h2 id="302a-title" class="h3">302.a. Definition of “Building”</h2>
  <p>
    For purposes of the Community Rating System, a structure qualifies as a building based on whether
    it is insurable. The structure must meet the following criteria, which are taken from the definition in
    the National Flood Insurance Program’s (NFIP’s) “Flood Insurance Manual” for insurance agents.
    A “building” is:
  </p>

  <ul>
    <li>
      A structure with two or more outside rigid walls and a fully secured roof and that is affixed to
      a permanent site; or
    </li>
    <li>
      A manufactured home (also known as a mobile home) is a structure built on a permanent
      chassis, transported to its site in one or more sections, and affixed to a permanent
      foundation; or
    </li>
    <li>
      A travel trailer without wheels, built on a chassis and affixed to a permanent foundation, that
      is regulated under the community’s floodplain management and building ordinances or laws.
    </li>
  </ul>

  <p>
    “Building” does not mean a gas or liquid storage tank, a recreational vehicle, a park trailer, or other
    similar vehicle, except as described above.
  </p>
  <p>
    Examples of structures that are not counted as buildings include open pavilions for picnic tables,
    bleachers, carports with open sides, underground pumping stations, and sheds on skids that are
    moved to different construction sites.
  </p>
</section>

<section id="302b" aria-labelledby="302b-title">
  <h2 id="302b-title" class="h3">302.b. Pre- and Post-FIRM buildings</h2>
  <p>
    A “pre-FIRM building” is a building constructed or substantially improved on or before December 31,
    1974, or before the effective date of the community’s initial Flood Insurance Rate Map (FIRM),
    whichever is later.
  </p>

  <p>
    A “post-FIRM building” is a building constructed or substantially improved after December 31, 1974,
    or after the effective date of the community’s initial FIRM, whichever is later.
  </p>

  <p>
    The date of the initial FIRM can be found in the FIRM’s legend under “Flood Insurance Rate Map
    Effective.” It usually is not the same as the “initial identification” date, which is the date of the
    community’s first Flood Hazard Boundary Map. Post-FIRM buildings are required to meet the
    minimum flood protection standards of the NFIP’s Regular Program.
  </p>
</section>