<p>Maximum credit: {{ node.max_possible_pts }}</p>
<ol class="lower-alpha-list">
  <li>
    <strong>Construction certificate management procedures (CCMP):</strong> 38 points for a community’s
    having written procedures that document how the community collects, reviews, corrects,
    maintains, and makes available to all inquirers the Federal Emergency Management Agency
    (FEMA) Elevation Certificates, FEMA Floodproofing Certificates, V-Zone design certificates,
    engineered openings certifications, and FEMA Residential Basement Floodproofing
    Certificates required for buildings built in the Special Flood Hazard Area (SFHA) after the date
    of application to the Community Rating System. All communities must receive credit for this
    element.
  </li>

  <li>
    <strong>Maintaining Elevation Certificates for post-FIRM buildings (ECPO):</strong> Up to 48 points for
    maintaining Elevation Certificates on buildings built before the date of application to the CRS
    but after the initial date of the Flood Insurance Rate Map (FIRM).
  </li>

  <li>
    <strong>Maintaining Elevation Certificates for pre-FIRM buildings (ECPR):</strong> Up to 30 points for
    maintaining Elevation Certificates on buildings built before the initial date of the FIRM.
  </li>
</ol>
<h2>Credit Criteria</h2>
<p>Each element has a separate section describing its credit criteria.</p>
<h2>Impact Adjustment</h2>
<p>There is no impact adjustment for CCMP. The credit for ECPO and ECPR is adjusted based on the number of post-FIRM and pre-FIRM buildings in the community.</p>
<h2>Documentation Provided by the Community</h2>
<p>Each element has a separate section describing needed documentation.</p>
<h2>310 Construction Certificate Management</h2>
<p>
  The objective of this activity is to maintain correct floodplain-related construction certificates—
  Federal Emergency Management Agency (FEMA) Elevation Certificates, FEMA Floodproofing
  Certificates, V-Zone design certificates, engineered openings certifications, and FEMA Residential
  Basement Floodproofing Certifications—for new and substantially improved buildings in the Special
  Flood Hazard Area (SFHA) as well as for development that existed before the community joined the
  CRS. This activity also addresses how a community provides for the management of certificates
  when development occurs.
</p>