<p>Because most building data are recorded on FEMA Elevation Certificates, Activity 310 is called “Elevation
  Certificates,” but the discussion and criteria cover all other required floodplain-related construction certifications
  as well, as listed in Section 301.b.</p>

<p>The construction of new buildings, the substantial improvement of existing buildings, and the reconstruction of
  buildings due to substantial damage in the SFHA all require diligent oversight by a community. Comprehensive
  procedures that cover the collection, review, processing, maintenance, and public accessibility of all required
  certificates are essential to effective floodplain management. Unclear direction on when to require certain
  certificates, who performs inspections, who conducts reviews, or how certificates are stored for future use can result
  in mis-rated insurance policies as well as possible NFIP non-compliance. Casual procedures also result in
  inconsistent, missing, and lost permit documentation. Therefore, a community that participates in the CRS is required
  to create and update written management procedures for the handling of its floodplain-related construction
  certificates.</p>

<p>A prerequisite for reaching Class 9 in the CRS is maintaining required construction certificates from the date of a
  community’s CRS application forward. This helps ensure appropriate development practices once a community joins the
  program, but usually development already exists in the SFHA when the community joins. Accurate elevation and other
  data about those buildings, and whether they were built pre-FIRM or post-FIRM, are important for compliance and
  insurance purposes.</p>

<p>This activity provides credit to communities that create written procedures on how required floodplain-related
  construction certificates are obtained, reviewed, corrected, maintained, and made available to the public. Credit is
  also provided under this activity for complete and accurate Elevation Certificates on pre-FIRM and post-FIRM
  buildings.</p>

<p>Credit is provided if the community creates written procedures that address the collection, review, correction, and
  maintenance of FEMA Elevation Certificates, FEMA Floodproofing Certificates, V-Zone design certificates, engineered
  openings certifications, and FEMA Residential Basement Floodproofing Certificates required for new buildings,
  substantially improved buildings, or buildings reconstructed due to substantial damage in the SFHA (see Section 301.b)
  after the community’s initial date of application for the program. The procedures must describe how the community will make the construction certificates available to any inquirer. The community must review the
  certificates to ensure a minimum 90% accuracy.
</p>
<p>
  Credit is also provided if the required construction certificates are obtained and correct for pre-FIRM
  and post-FIRM buildings in the SFHA. For CRS purposes, copies of these certificates may have been
  obtained recently or may have been part of the community’s permit archive system. The certificates
  must be for “finished construction” and kept on FEMA forms. Elevation data for pre-FIRM or post-
  FIRM buildings can be entered on the current FEMA forms rather than on the form in effect at the
  time the building was built.
</p>

<section id="311a" aria-labelledby="311a-title">
  <h2 id="311a-title" class="h4">311.a. Activity Description</h2>
  <p>The maximum credit for Activity 310 is 116 points.</p>

  <p>Credit is provided if the community creates written procedures that address the collection, review, correction, and
  maintenance of FEMA Elevation Certificates, FEMA Floodproofing Certificates, V-Zone design certificates, engineered
  openings certifications, and FEMA Residential Basement Floodproofing Certificates required for new buildings,
  substantially improved buildings, or buildings reconstructed due to substantial damage in the SFHA (see Section 301.b)
  after the community’s initial date of application for the program. The procedures must describe how the community will
  make the construction certificates available to any inquirer. The community must review the certificates to ensure a
  minimum 90% accuracy.</p>

  <p>Credit is also provided if the required construction certificates are obtained and correct for pre-FIRM and post-FIRM
  buildings in the SFHA. For CRS purposes, copies of these certificates may have been obtained recently or may have been
  part of the community’s permit archive system. The certificates must be for “finished construction” and kept on FEMA
  forms. Elevation data for pre-FIRM or post-FIRM buildings can be entered on the current FEMA forms rather than on the
  form in effect at the time the building was built.</p>
</section>

<section id="311b" aria-labelledby="311b-title">
  <h2 id="311b-title" class="h4">311.b. Activity Impact Adjustment</h2>
  <p>There is no impact adjustment for CCMP. The impact adjustment ratios for ECPO and ECPO are
  included in the calculations for those two elements.</p>

</section>

<section id="311c" aria-labelledby="311c-title">
  <h2 id="311c-title" class="h4">311.c. Credit Verification</h2>
  <p>For CCMP credit, the community must submit a copy of its current written procedures on how required construction
    certificates are obtained, reviewed, maintained, and made available to the public. If the community has all the items
    addressed in Section 312.a, Credit Criteria, credit will be given. Failure to have all items will result in no credit.
  </p>

  <p>For ECPO and ECPR credit, the community must send its Contractor a copy of the required construction certifications
    for all new buildings, substantial improvements, and reconstructions due to substantial damage in the SFHA during the
    appropriate time period (pre-FIRM or post-FIRM) since the last cycle verification visit. The information to be included is listed in Section 312.a, Documentation for ECPO
  [and ECPR] Provided by the Community.</p>

  <p>The community also must submit the total number of buildings built during the pertinent time period (pre-FIRM or
    post-FIRM), along with the total number of construction certificates submitted for credit.</p>

  <p>The Contractor will review the certificates in accordance with the checklist and current sampling procedures and
    provide feedback to the community. The community’s credit for ECPO and ECPR is based on this first review. For
    example, if the community has 20 certificates but only 12 have no problems listed on the checklist, the community’s
    credit will be</p>
  <div class="ps-5 pb-3">
    <math>
      <mrow>
        <mtext>ECPO</mtext>
        <mo>=</mo>
        <mn>48</mn>
        <mo>×</mo>
        <mfrac>
          <mn>12</mn>
          <mn>20</mn>
        </mfrac>
        <mo>=</mo>
        <mn>28.80</mn>
        <mtext> points</mtext>
      </mrow>
    </math>
  </div>
  <p>The credit for ECPO and ECPR is based on the first review of certificates submitted for the verification visit. It
    will not change after the community makes the needed corrections, but it can be rescored at the next visit based on a
    review of the next batch of certificates.</p>

  <p>The certificates for ECPO and ECPR do not need to meet the 90% accuracy threshold. If there are problems on any
    certificates, the score is applied for the correct certificates and those that had problems can be corrected for the
    next cycle verification. There is no opportunity to increase the credit for the verification visit. The number of pre-
    and post-FIRM buildings is relatively static, unless there has been a map change or annexation in the SFHA since the
    previous verification. In those instances, the entire element will be re-evaluated and likely would be re-scored.</p>

  <p>At each annual recertification date, the community again must provide a permit list, showing all buildings in the
    SFHA that are new, substantially improved, or reconstructed due to substantial damage during the previous year, along
    with copies of the required construction certificates for those buildings. These are reviewed and feedback given to
    the community. This review determines compliance with the Class 9 prerequisite. This is discussed in detail in Section
    301. Annual verification of ECPO or ECPR is not required.</p>
</section>