<p>Credit for this element is 38 points.</p>

<p>CCMP credit is provided if the community maintains written procedures for the collection, review, correction,
  maintenance, and public accessibility of the required floodplain-related construction certificates (listed in Section
  301.b) after the date of its application to the CRS.</p>

<p>If no buildings have been built or substantially improved in the SFHA since the application date, the community can
  still receive credit for this element. The CRS prefers to see no buildings in the floodplain rather than provide
  credit for having records on those that have been built. All communities are required to receive credit under this
  element in order to continue participation in
  the program (Class 9 prerequisite).</p>

<section id="312a-1" aria-labelledby="312a-1-title">
  <h2 id="312a-1-title" class="h5">Credit Criteria for CCMP</h2>
  <ol class="paren-numlist">
    <li>The procedures must be in writing, approved by the head of the department(s) that oversees the staff and duties
      included in the procedures, and updated when needed. The procedures must include the following:
      <ol>
        <li>A description of what types of construction certificates are required by the community. The certificates required
          by FEMA and the CRS are listed in Section 301.b, but not all certificates are applicable to all communities, so the
          community needs to provide a list of which certifications are required within its jurisdiction.</li>

        <li>A description of when the construction certificates are required by the community. The written procedures must
          specify the points during the permitting process at which the various certificates are required to be submitted,
          along with the community requirements for obtaining a complete and correct finished-construction certificates before
          a certificate of occupancy is issued. For communities that do not issue certificates of occupancy, there must be an
          explanation that finished-construction certificates are required before a permit is finalized.</li>

        <li>A description of what department or office collects the required certificates and at what point this is done
          during the permitting process. A brief discussion should include how a certificate is processed through the
          permitting system.</li>

        <li>A description of what department or office reviews the required certificates and at what point this is done during
          the permitting process. Details must be included on who reviews the certificates (titles are acceptable), what their
          qualifications are (e.g., CFM or NFIP training), and at what point in the permitting process reviews are done.</li>

        <li>A description of how the certificates are corrected. The written procedures must give details on who specifically
          works with the certifier and how the process works. Attention must be given to how corrected certificates are
          relayed back to the professional who originally certified the form(s) so that future errors are minimized, and to
          the current property owner, because the error may affect the insurance rating of the building.</li>

        <li>A description of how and where the certificates are maintained by the community. Details must be included on
          whether certificates are stored as hard copies or digitally (or other), how soon they are filed/stored/archived
          after they are processed, where they are filed/stored/archived, any data backup procedures, and whether certificates
          for new development are stored differently than certificates on older buildings.</li>

        <li>A description of how the certificates are made available to inquirers. There must be an explanation of which
          department or office handles the request and the timeliness (and costs, if any) of fulfilling requests. If a community receives credit for having certificates from before
          it applied to the CRS, it must be able to retrieve those certificates, including those from
          projects whose permit files may have been archived or discarded.</li>
        <li>If a community requires certificates for development outside of the SFHA, this should be
        addressed appropriately in the written procedures.</li>
      </ol>
    </li>
  </ol>
</section>

<section id="312a-2" aria-labelledby="312a-2-title">
  <h2 id="312a-2-title" class="h5">Credit Points for CCMP</h2>
  <div class="ms-5 mb-3 border-start border-start-2 ps-3">
    <p>
      CCMP = 38 points for maintaining written procedures that address
      the collection, review, correction, maintenance, and the public
      accessibility of the required floodplain-related construction
      certifications
    </p>
  </div>
</section>

<section id="312a-3" aria-labelledby="312a-3-title">
  <h2 id="312a-3-title" class="h5">Impact Adjustment for CCMP</h2>
  <p>
  There is no impact adjustment because communities must require, review, and maintain copies of
  required construction certificates on ALL new construction and substantial improvement. There is no
  credit under this activity if the written procedures do not cover all required credit criteria.
  </p>
</section>

<section id="312a-4" aria-labelledby="312a-4-title">
  <h2 id="312a-4-title" class="h5">Documentation for CCMP Provided by the Community</h2>
  <ol class="paren-numlist">
    <li>At each verification visit,
      <ol>
        <li>
          The written procedures, including the signature/approval of the appropriate department
          head(s), describing how the community requires, reviews, corrects, maintains, and provides
          copies of construction certificates to inquirers as outlined in the credit criteria section for
          CCMP.
        </li>
      </ol>
    </li>
  </ol>
</section>