<p>The maximum credit for this element is 48 points.</p>

<p>ECPO credit is provided if completed and correct certificates are maintained for all buildings built or substantially
  improved in the SFHA between the date of the effective FIRM at the time of construction and the date of the
  community’s application to the Community Rating System.</p>

<p>If there are no post-FIRM buildings in the SFHA, the community receives full credit for ECPO because there are no
  post-FIRM buildings or substantial improvements without Elevation Certificates. The CRS would prefer to see no
  buildings in the floodplain rather than provide credit for records on those that have been built. However, if the
  community annexes lands that include buildings in the SFHA constructed since the date of its initial FIRM, the credit
  is based on how many of those buildings have Elevation Certificates.</p>

<section id="312b-1" aria-labelledby="312b-1-title">
  <h2 id="312b-1-title" class="h5">Credit Criteria for ECPO</h2>
  <ol class="paren-numlist">
    <li>The community must maintain all required construction certificates described in Section 301.b for all buildings in
      the SFHA that have been newly constructed, substantially improved, or reconstructed due to substantial damage during
      the period credited. “Buildings” are defined in Section 302.a.</li>

    <li>The community must review the certificates to ensure that they are complete and that the information is correct,
      and make copies of the certificates readily available to anyone upon request, following the process described in the
      community’s construction certificate management procedures required in Section 312.a. See also Section 301.c,
      Construction Certificate Checklists and Section 301.d, Getting Correct Construction Certificates.</li>
  </ol>
</section>

<section id="312b-2" aria-labelledby="312b-2-title">
  <h2 id="312b-2-title" class="h5">Credit Points for ECPO</h2>
  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    ECPO = up to 48 points, for maintaining Elevation Certificates for post-FIRM buildings
  </div>
</section>

<section id="312b-3" aria-labelledby="312b-3-title">
  <h2 id="312b-3-title" class="h5">Impact Adjustment for ECPO</h2>
  <p>If the community only has certificates for some of its post-FIRM buildings, then the value for ECPO is
  adjusted.</p>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <math>
          <mrow>
            <mi>rECPO</mi>
            <mo>=</mo>
            <mfrac>
              <mi>bECPO</mi>
              <mi>bPO</mi>
            </mfrac>
            <mtext>,</mtext>
            <mtext> where</mtext>
          </mrow>
        </math>
      </div>
      <dl class="dl-inline dl-inline--equals ms-3">
        <dt>bECPO</dt>
        <dd>the number of post-FIRM buildings with Elevation Certificates, and</dd>
        <dt>bPO</dt>
        <dd>the number of buildings built or substantially improved in the community’s SFHA between the initial FIRM effective date and the date the community applied to the CRS</dd>
      </dl>
    </div>
  </div>
  <p>
    Section 301 describes how to count buildings for the impact adjustment and has an alternative way to calculate bPO that favors post-FIRM, i.e., compliant, buildings in the SFHA.
  </p>
  <p>
    If no buildings have been built or substantially improved in the SFHA since the community entered the Regular Program of the NFIP, then bPO = 0. As noted above, the community would still receive full credit for this element because the program would prefer to see no buildings in the floodplain rather than provide credit for records on those that have been built.
  </p>
  <div class="card mb-3">
    <div class="card-header">
      Example 312.b-1.
    </div>
    <div class="card-body">
      <p class="card-text">
        A community’s credit was verified by its Contractor during the spring of 2004. Its initial FIRM effective date is May 15, 1980. Between then and when it applied to the program in 2003, 22 buildings were built or substantially improved. bPO = 22
      </p>
      <p>
        The community began using FEMA’s Elevation Certificates after FEMA conducted a community assistance visit in 1986. It has completed certificates for all buildings built since then. There are 10 buildings with correct Elevation Certificates. bECPO = 10
      </p>
      <div class="ps-5">
        <math>
          <mrow>
            <mi>rECPO</mi>
            <mo>=</mo>
            <mfrac>
              <mn>10</mn>
              <mn>22</mn>
            </mfrac>
            <mo>=</mo>
            <mn>0.45</mn>
          </mrow>
        </math>
      </div>
    </div>
  </div>
</section>

<section id="312b-4" aria-labelledby="312b-4-title">
  <h2 id="312b-4-title" class="h5">Documentation for ECPO Provided by the Community</h2>
  <ol class="paren-numlist">
    <li>At each verification visit,
      <ol>
        <li>
          Copies of Elevation Certificates (and/or V Zone and Floodproofing Certificates and other certificates, as appropriate) for new buildings and substantial improvements constructed between the date of the community’s initial FIRM and the date of application to the CRS.
        </li>
        <li>
          Demonstration that the community still has access to all the credited certificates and provides them to inquirers.
        </li>
        <li>
          Documentation showing how bPO was determined. Note that this number can change if the community annexes areas in the SFHA or a FIRM revision changes the number of post-FIRM buildings in the SFHA.
        </li>
      </ol>
    </li>
  </ol>
</section>