<h1 id="312c-title">312.c. Maintaining Elevation Certificates for pre-FIRM buildings (ECPR)</h1>

{# Top-level child headings under this page #}



<section id="312c-1" aria-labelledby="312c-1-title">
  <h2 id="312c-1-title" class="h5">Credit Criteria for ECPR</h2>

  <!-- TODO: add content for 312c-1 -->
</section>



<section id="312c-2" aria-labelledby="312c-2-title">
  <h2 id="312c-2-title" class="h5">Credit Points for ECPR</h2>

  <!-- TODO: add content for 312c-2 -->
</section>



<section id="312c-3" aria-labelledby="312c-3-title">
  <h2 id="312c-3-title" class="h5">Impact Adjustment for ECPR</h2>

  <!-- TODO: add content for 312c-3 -->
</section>



<section id="312c-4" aria-labelledby="312c-4-title">
  <h2 id="312c-4-title" class="h5">Documentation for ECPR Provided by the Community</h2>

  <!-- TODO: add content for 312c-4 -->
</section>