<p>The maximum credit for this element is 30 points.</p>

<p>ECPR credit is provided if completed and correct certificates are maintained for buildings that were constructed in
  the SFHA before the date of the initial FIRM of the community in which the building was constructed.</p>

<p>Although most communities did not keep elevation records before they joined the Regular Program of the NFIP (which is
  usually the same date as their initial FIRM), lowest floor elevations may have been determined for a flood protection
  study. If the data are transferred to the FEMA forms, credit can be provided under ECPR. ECPR is adjusted in the same
  manner as ECPO, as described in the Impact Adjustment section.</p>

<p>
  If there are no pre-FIRM buildings in the SFHA, the community receives full credit for ECPR because there are no pre-FIRM buildings without Elevation Certificates. However, if the community annexes lands that include buildings that were constructed in the SFHA before the date of its initial FIRM, the credit will be based on how many of those buildings have Elevation Certificates.
</p>

<section id="312c-1" aria-labelledby="312c-1-title">
  <h2 id="312c-1-title" class="h5">Credit Criteria for ECPR</h2>
  <p>
    The activity credit criteria in Section 311.b must be met.
  </p>
</section>

<section id="312c-2" aria-labelledby="312c-2-title">
  <h2 id="312c-2-title" class="h5">Credit Points for ECPR</h2>
  <div class="ms-5 mb-3 pt-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    <p>
      ECPR = up to 30 points, for Elevation Certificates for pre-FIRM buildings
    </p>
  </div>
</section>

<section id="312c-3" aria-labelledby="312c-3-title">
  <h2 id="312c-3-title" class="h5">Impact Adjustment for ECPR</h2>
  <p>
    If the community only has certificates for some of its pre-FIRM buildings, then the value for ECPR is adjusted.
  </p>
  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    <div class="mb-3">
      <math>
        <mrow>
          <mi>rECPR</mi>
          <mo>=</mo>
          <mfrac>
            <mi>bECPR</mi>
            <mi>bPR</mi>
          </mfrac>
          <mtext>,</mtext>
          <mtext> where</mtext>
        </mrow>
      </math>
    </div>
    <dl class="dl-inline dl-inline--equals ms-3">
      <dt>bECPR</dt>
      <dd>the number of pre-FIRM buildings with correct Elevation Certificates, and</dd>
      <dt>bPR</dt>
      <dd>the number of pre-FIRM buildings in the community’s SFHA</dd>
    </dl>
  </div>
  <p>
    Section 301 describes how to count buildings for the impact adjustment.
  </p>
  <div class="card mb-3">
    <div class="card-header">
      Example 312.c-1.
    </div>
    <div class="card-body">
      <p>
        A community has 250 pre-FIRM buildings. bPR = 250
      </p>
      <p>
        As part of a flood control study, the U.S. Army Corps of Engineers surveyed the first-floor
        elevations of all buildings in one of the community’s floodplains. Because there are no basements
        in the community, the first floor is the same as the lowest floor. [NOTE: This is not always the
        case. Other sources of elevation data must be carefully checked to ensure that the records are for
        the lowest floor.] The study provided correct elevations for 122 of the community’s 250 pre-FIRM
        buildings, and the community subsequently recorded the data on FEMA’s Elevation Certificates.
        bECPR = 122
      </p>
      <div class="ps-5">
        <math>
          <mrow>
            <mi>rECPR</mi>
            <mo>=</mo>
            <mfrac>
              <mn>122</mn>
              <mn>250</mn>
            </mfrac>
            <mo>=</mo>
            <mn>0.49</mn>
          </mrow>
        </math>
      </div>
    </div>
  </div>
</section>

<section id="312c-4" aria-labelledby="312c-4-title">
  <h2 id="312c-4-title" class="h5">Documentation for ECPR Provided by the Community</h2>
  <ol class="paren-numlist">
    <li>
      At each verification visit,
      <ol>
        <li>Copies of Elevation Certificates (and/or V Zone and Floodproofing Certificates and other certificates, as appropriate) for buildings and substantial improvements constructed before the date of the community’s initial FIRM.</li>
        <li>Demonstration that the community has access to all the credited certificates and provides them to inquirers.</li>
        <li>Documentation showing how bPR was determined. Note that this number can change if the community annexes areas in the SFHA or a FIRM revision changes the number of pre-FIRM buildings in the SFHA.</li>
      </ol>
    </li>
  </ol>
</section>