<div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
  <div class="mb-3">
    <math>
      <mrow>
        <mi>c310</mi>
        <mo>=</mo>
        <mi>cCCMP</mi>
        <mo>+</mo>
        <mi>cECPO</mi>
        <mo>+</mo>
        <mi>cECPR</mi>
        <mtext>, where</mtext>
      </mrow>
    </math>
  </div>
  <dl class="dl-inline dl-inline--equals ms-3">
    <dt>cCCMP</dt>
    <dd>the verified credit for the element CCMP based on whether the written procedures met all criteria,</dd>
    <dt>cECPO</dt>
    <dd>ECPO x rECPO, and</dd>
    <dt>cECPR</dt>
    <dd>ECPR x rECPR</dd>
  </dl>
</div>


<div class="card mb-3">
  <div class="card-header">
    Example 313-1.
  </div>
  <div class="card-body">
    <p>
      A community has had Elevation Certificates to submit at each recertification due date since its previous cycle. The community is required to produce written procedures covering all the required credit criteria. The Contractor has determined the procedures have met all criteria.
    </p>
    <div class="ms-3 mb-3">
      <math>
        <mrow>
          <mi>cCCMP</mi>
          <mo>=</mo>
          <mn>38</mn>
        </mrow>
      </math>
    </div>
    <p>
      The community has correct Elevation Certificates for 10 of its 22 post-FIRM buildings. As discussed above, rECPO = 0.45.
    </p>
    <div class="ms-3 mb-3">
      <math>
        <mrow>
          <mi>cECPO</mi>
          <mo>=</mo>
          <mn>48</mn>
          <mo>x</mo>
          <mn>0.45</mn>
          <mo>=</mo>
          <mn>21.60</mn>
        </mrow>
      </math>
    </div>
    <p>
      The community has Elevation Certificates for 122 of its 250 pre-FIRM buildings. As discussed above, rECPR = 0.49.
    </p>
    <div class="ms-3">
      <math>
        <mrow>
          <mi>cECPR</mi>
          <mo>=</mo>
          <mn>30</mn>
          <mo>x</mo>
          <mn>0.49</mn>
          <mo>=</mo>
          <mn>14.70</mn>
        </mrow>
      </math>
    </div>
    <div class="ms-3">
      <math>
        <mrow>
          <mi>c310</mi>
          <mo>=</mo>
          <mi>cEC</mi>
          <mo>+</mo>
          <mi>cECPO</mi>
          <mo>+</mo>
          <mi>cECPR</mi>
        </mrow>
      </math>
    </div>
    <div class="ms-3">
      <math>
        <mrow>
          <mi>c310</mi>
          <mo>=</mo>
          <mn>38</mn>
          <mo>+</mo>
          <mn>21.60</mn>
          <mo>+</mo>
          <mn>14.70</mn>
          <mo>=</mo>
          <mn>74.30</mn>
          <mtext>, which is rounded to 74</mtext>
        </mrow>
      </math>
    </div>
  </div>
</div>
