<ul>
  <li>
    Elevation Certificate data can be very helpful when estimating flood depths under Activity 320 (Map Information
    Service). The base flood elevation can be compared to the lowest floor or garage elevation to give the inquirer a
    good idea of how deep the base flood would be. Even if there is no Elevation Certificate on the property in
    question, describing the flood depth on a neighboring property can still be useful.
  </li>
  <li>
    If the community develops a Program for Public Information (credited under Activity 330 (Outreach Projects), the PPI
    committee should discuss how insurance agents and property owners can learn about the availability of Elevation
    Certificate data.
  </li>
  <li>
    Providing building elevation data on a website is credited under Activity 350 (Flood Protection Information), and
    having it in the community’s geographic information system (GIS) or other property database is credited under
    Activity 440 (Flood Data Maintenance).
  </li>
  <li>
    Elevation Certificate data can also be helpful when advising an inquirer about flood protection alternatives,
    credited under Activity 360 (Flood Protection Assistance) and flood insurance rating, credited under Activity 370
    (Flood Insurance Promotion).
  </li>
  <li>
    Elevation Certificates are used by the Contractor to verify some regulatory credits, such as development of new base
    flood elevations (NS) under Activity 410 (Flood Hazard Mapping) and freeboard (FRB) under Activity 430 (Higher
    Regulatory Standards).
  </li>
</ul>