<p>
  Maximum credit: 90 points
</p>

<h2>322 Elements</h2>
<ul class="lower-alpha-list">
  <li>
    Basic FIRM information (MI1): 30 points for providing basic information found on a Flood Insurance Rate Map (FIRM) that is needed to write a flood insurance policy.
  </li>
  <li>
    Additional FIRM information (MI2): 20 points for providing information that is shown on most FIRMs, such as protected coastal barriers, floodways, or lines demarcating wave action.
  </li>
  <li>
    Problems not shown on the FIRM (MI3): Up to 20 points for providing information about flood problems other than those shown on the FIRM.
  </li>
  <li>
    Flood depth data (MI4): Up to 20 points for providing information about flood depths.
  </li>
  <li>
    Special flood-related hazards (MI5): Up to 20 points for providing information about special flood-related hazards, such as erosion, ice jams, or tsunamis.
  </li>
  <li>
    Historical flood information (MI6): Up to 20 points for providing information about past flooding at or near the site in question.
  </li>
  <li>
    Natural floodplain functions (MI7): Up to 20 points for providing information about areas that should be protected because of their natural floodplain functions.
  </li>
</ul>
<h2>Credit Criteria</h2>
<p>
  Credit criteria for this activity are described in Section 321.b. Each element has additional criteria specific to that element.
</p>
<h2>Impact Adjustment</h2>
<p>
  There is no impact adjustment for this activity.
</p>
<h2>Documentation Provided by the Community</h2>
<p>
  The documentation needed for this activity is described in Section 325
</p>

<h2>
  320 Map Information Service
</h2>

<p>
  The objective of this activity is to provide inquirers with information about the local flood hazard and about flood-prone areas that need special protection because of their natural functions.
</p>
