<p>
Maps are an effective method of communicating information about flood hazards. Residents and
businesses that are aware of potential flood hazards can take steps to avoid problems and/or
reduce their exposure to flooding. Communities are the best source of map information because they
can often supplement and clarify the Flood Insurance Rate Map (FIRM) with complementary maps
and with information on additional hazards, flooding outside mapped areas, development
regulations that affect floodplain properties, flood insurance, natural floodplain functions, and
property protection measures.
</p>

<p>
A map information service can greatly help a community’s residents as well as its banks, insurance
agents, real estate agents, and anyone else who needs flood hazard information. This public service
is particularly helpful to those who have trouble reading maps, people from out of town, and those
who do not have access to the latest maps or all the hazard information available in the community.
</p>
<aside class="bg--primary-light p-3">
  <h3 class="h6">
    The FIRM and Mandatory Purchase of Flood Insurance
  </h3>
  <p>
  For compliance with the mandatory purchase requirements of the National Flood Insurance
  Program, the current Flood Insurance Rate Map (FIRM) (or Letter of Map Change) is the only
  legal document allowed to be used by lenders or third-party vendors.
  </p>
</aside>

<p>
This activity is also intended to bring other available community resources to bear on each individual
situation. Such resources include local topographic, planning, road, and utility maps; geographic
information systems (GISs); maps of special flood-related hazard areas; permit records; and
subdivision plats. Where they are available, these other resources can complement the FIRM as
sources of additional flood data or more detailed map information.
</p>

<section id="321a" aria-labelledby="321a-title">
  <h2 id="321a-title" class="h4">321.a. Activity Description</h2>
  <p>
  The maximum credit for Activity 320 is 90 points.
  </p>
  <p>
  Credit is provided for providing inquirers with information from the community’s FIRM and other
  sources of information about the local flood hazard and natural floodplain functions.
  </p>
  <p>
  There are seven elements. The first, providing basic information from the FIRM that is needed to
  write a flood insurance policy, is a prerequisite for the rest of the elements. Credit for the other
  elements is dependent upon what information the community has and what information it believes
  its residents and businesses need. If the community conducted the Community Self Assessment
  described in Section 240, it would have a good list of available map information. Note that certain
  information about private property may not be released to the public (see the box on flood insurance
  data and the Privacy Act below).
  </p>
  <p>
  The maximum points for each element are noted in Sections 322.a through 322.g. If only partial
  information is provided or only part of the community is covered by elements MI3 through MI7, the
  points can be prorated. There is no proration of MI1 or MI2, because for those elements the
  community must provide all the information needed from the entire FIRM.
  </p>
  <p>
  The information provided by the service should be located on a map or GIS layer so the person
  responding to the inquiries has an accurate source of information.
  </p>
  <p>
  The community may provide the service via telephone, written or e-mailed inquiry, or a website or
  computer terminal. To avoid errors in property location, the community may request from the inquirer
  a street map locating the property.
  </p>
  <p>
  To cover staff time and office overhead, the community may charge a reasonable fee for providing
  map information. This service should not include surveying or similar costs to collect new data, such
  as ground elevations.
  </p>
  <p>
  The community may enter into an agreement with another agency, such as a regional planning
  commission, to provide the map information service. To receive credit under the Community Rating
  System, there must be a written agreement that clarifies that the agency providing the service will
  respond to all inquirers and will allow the Contractor to verify its work. The service must meet all the
  prerequisites and documentation requirements, including publicity and records of inquiries.
  A community or other agency may place restrictions on the provision of map information and still be
  eligible for credit. For example, a community may refuse to provide information over the telephone in
  order to avoid errors in the property location. It may require a written request for map information.
  This would not preclude a community receiving credit.
  </p>
  <p>
  A website service can be credited provided it meets all of the credit criteria. In particular, the inquirer
  must be able to obtain the information by entering a street address, and there must be an
  opportunity for personal contact (see credit criterion 4).
  </p>
  <p>
  For publicizing the service (Section 321.a(6)) through newsletters produced by target-audience
  organizations, the article about the service must have been published before the date of the
  community’s cycle visit and documented by a copy of the pertinent newsletter page(s). A letter to the
  organizations or a draft article submitted to them is not sufficient for credit.
  </p>
  <p>
  If the community requests credit for publicizing the service to common user groups (Section
  321.a(6)(b)), it may receive half credit if it is missing the documented publicity or the mailing list for
  one of the three groups. If publicity and/or mailing lists are missing for two groups, there is no credit.
  </p>
  <aside class="bg--primary-light p-3">
    <h3 class="h6">
      The Privacy Act
    </h3>
    <p>
      Flood insurance data about private property, including repetitive loss properties, are protected
      under the Privacy Act. Personally identifiable Information such as the names or addresses of
      specific properties, whether they are covered by flood insurance or not, whether they have
      received flood insurance claims, or the amounts of such claims may not be released outside of
      local government agencies or to the public or used for solicitation or other purposes. Such
      information should be marked “For internal use only. Protected by the Privacy Act of 1974.”
    </p>
    <p>
      General or aggregated information, such as total claims paid for a community or an area or data
      not connected to a particular property, may be made public.
    </p>
</section>

<section id="321b" aria-labelledby="321b-title">
  <h2 id="321b-title" class="h4">321.b. Activity Credit Criteria</h2>
  <ol class="paren-numlist">
    <li>
      MI1, providing information from the FIRM needed to write a flood insurance policy, is a
      prerequisite to receiving other credit under this activity.
    </li>
    <li>
      The map information service must be able to locate a property based on a street address.
      There is no credit if an inquirer is given a map to read. One reason for this credit is that
      some people have difficulty reading maps.
    </li>
    <li>
      All available information must be provided to the inquirer for each element (MI1 through MI7)
      for which the community is requesting credit. For example, a person inquiring about a
      property located in a Special Flood Hazard Area (SFHA) must be informed of the mandatory
      flood insurance purchase requirement. If the community also requests credit for MI6,
      historical flood information, the same inquirer must also be told whether the area has been
      flooded in the past, even if he or she did not ask.
    </li>
    <li>
      <p>
      The service must include an opportunity for personal contact. One value of the map
      information service is that it allows the staff person responding to the inquiry to determine
      whether all of the inquirer’s questions have been answered and to provide additional
      information on related topics, such as permit requirements.
      </p>
      <p>
      If the service is provided remotely, such as through a website, contractor, or written or faxed
      requests, the annual publicity and the response to the inquirer must include a telephone
      number that can be called so the inquirer can ask further questions about map information and
      the community’s floodplain management program.
      </p>
    </li>

    <li>
      The inquiry must be responded to within a reasonable amount of time.
    </li>

    <li>
      The service must be publicized at least once a year. There are three publicity options:
      <ol class="mb-3">
        <li>
          An annual notice that reaches everyone in the community, such as an article in a
          newsletter or a stuffer in a utility bill sent to all properties.
        </li>
        <li>
          An annual notice directed to the most common users of the service, such as lenders (banks,
          credit unions, etc.), insurance agents, and real estate agents. This may include a direct
          mailing to these offices or articles in the newsletters of professional associations that
          reach these audiences (for example, newsletters of a Board of Realtors® or a chamber of
          commerce).
        </li>

        <li>
          An annual outreach project developed as part of a Program for Public Information (PPI)
          credited under Activity 330 (Outreach Projects), provided that the PPI document identifies
          the audience for the service and discusses the best way to reach that audience.
        </li>
      </ol>
      <p>
        Whichever option the community selects, the publicity must:
      </p>
      <ul>
        <li>
          Describe the service(s) provided, including brief explanations of each topic in MI1
          through MI7 for which the community is requesting credit (for example, information
          about flood hazards, flood insurance rating data, and areas with natural floodplain
          functions that should be protected);
        </li>
        <li>
          Be distributed at least once a year;
        </li>
        <li>
          Explain how to access the service, including the telephone number to call or the
          internet address of the website; and
        </li>
        <li>
          Provide a telephone number for more information about flood maps and the community’s
          floodplain management program, if different from the number used for the map
          information service.
        </li>
      </ul>
    </li>

    <li>
      The maps used for MI1 and MI2 must be updated at least annually to reflect new studies,
      subdivisions, annexations, flood insurance restudies, map revisions, and map amendments,
      including Letters of Map Amendment (LOMAs) and Letters of Map Revision (LOMRs). This may
      include plotting each LOMA and LOMR or noting on the paper FIRM that LOMAs and LOMRs have
      been issued.
    </li>

    <li>
      The community must maintain copies of all FIRMs that have been in effect since 1999.
    </li>

    <li>
      Records of the service must be maintained and provided for credit documentation (see
      Section 325). Each record must include:
      <ul>
        <li>The date of the inquiry;</li>
        <li>The address or location of the property in question;</li>
        <li>The FIRM zone;</li>
        <li>Whether the inquirer was advised of the items to be credited. For example, for MI1, there
        must be a note for properties in the SFHA that the inquirer was told about the rules on
        mandatory flood insurance purchase.</li>
      </ul>
    </li>

  </ol>
  <p>
    A log is required if information is given orally or on the telephone. A sample log is shown in Figure
    320-1. Copies of letters will suffice for documentation if the information was provided in writing. A
    sample of such a letter is shown in Figure 320-2. Copies of the log or letters are also required if
    another agency or organization provides the map information.
  </p>
  <figure class="mb-4">
    <figcaption class="fw-bold text-center mb-2">Figure 320-1. Sample log for a map information service</figcaption>
    <img src="/images/2017-coordinators-manual/320-1.webp" width="1216" height="1104" alt="Figure 320-1" loading="lazy" class="img-fluid">
  </figure>
  <figure class="mb-4">
    <img src="/images/2017-coordinators-manual/320-2.webp" width="1163" height="1515" alt="Figure 320-2" loading="lazy" class="img-fluid">
    <figcaption class="fw-bold text-center mb-2">Figure 320-2. A sample map information record for MI1.</figcaption>
  </figure>
  <aside class="bg--primary-light p-3">
    <h3 class="h6">
      Challenging the Lender’s Map Determination
    </h3>
    <p>
    Communities should be aware that the ultimate decision on whether flood insurance is
    required rests with the lender. Lenders are permitted to rely on third-party vendors for flood
    zone determinations provided that those vendors guarantee the accuracy of their
    determinations. Communities are not considered third-party vendors nor are they expected to
    assume the lender’s responsibility.
    </p>
    <p>
    However, if there is a flood zone discrepancy among the parties involved, community officials
    often are contacted to provide assistance and documentation to clarify the flood zone for the
    building in question. The CRS encourages communities to help their residents. The community
    staff that provides the map information service should be familiar with the mandatory
    purchase requirements and the following processes available to property owners to resolve a
    flood zone dispute.
    </p>
    <p>
    Talk to the lender—The first step should always be to talk to the lender and demonstrate that
    the building is not in the Special Flood Hazard Area (SFHA). The community can help, by
    supplying a printout of the FIRM showing the building’s location. If the lender’s decision is
    based on information from a flood zone determination company, the inquirer can ask the
    lender to request a manual determination. Often determinations are made by a computer, so a
    manual determination may result in a different finding.
    </p>
    <p>
    Letter of Map Amendment—Out as Shown (LOMA—OAS) —Occasionally, a parcel or individual
    structure may be incorrectly determined to be located within the SFHA because of imprecise
    map delineations. A property owner may submit property and elevation materials to FEMA in
    support of a request for a LOMA. Where the FIRM is based on an aerial photograph and the
    building is clearly shown as outside the SFHA, this can be a relatively simple approach.
    Letter of Determination Review (LODR)—This process is meant to be used to determine
    whether the FIRM was read correctly. The borrower and lender can jointly submit a review
    request to FEMA during the 45-day period after the borrower is notified that flood insurance is
    required.
    </p>
    <p>
    After reviewing the required supporting technical documentation, within 45 days after receiving
    the completed package, FEMA will issue a written determination, a LODR, indicating its
    concurrence or disagreement with the original determination made by the lender or third party,
    and stating whether the FIRM indicates that the subject building is in the SFHA. FEMA will
    assess a flat fee to cover the costs of this review.
    </p>
    <p>
    Letter of Map Amendment (LOMA)-Sometimes the flood map will show a structure as clearly
    being within an SFHA, even though the building on the property is on ground that is above the
    base flood elevation. FIRMs may not reflect every rise in terrain, so there may be instances of
    “natural islands” of high ground that are inadvertently included in the SFHAs. A property owner
    may submit property and elevation materials in support of a request for a LOMA to remove the
    property from the SFHA.
    </p>
    <p>
    More details about these letters can be found at www.fema.gov.
    </p>
  </aside>
</section>