<p>
The maximum credit for this element is 30 points.
</p>
<p>
MI1 credits providing basic information found on a FIRM that is needed to write a flood insurance
policy. Credit for MI1 (and MI2) are for reading and providing information on the current effective
FIRM. If a preliminary FIRM has been adopted as the community’s regulatory map, then items such
as the LiMWA on the preliminary FIRM are credited under MI3.
</p>


<section id="322a-1" aria-labelledby="322a-1-title">
  <h2 id="322a-1-title" class="h5">Credit Criteria for MI1</h2>
  <ol class="paren-numlist">
    <li>
      The activity credit criteria in Section 321.b must be met.
    </li>
    <li>
      <p>
      The Coastal Barrier Resources Act, and its later amendments, provide protection to undeveloped
      areas in the Coastal Barrier Resources System (CBRS). The Act prohibits most expenditures of
      federal funds, including the provision of flood insurance for new and substantially improved
      buildings, in any area designated by Congress as part of the CBRS. Only Congress can authorize
      a revision to the boundaries of the CBRS. The restrictions are covered in more detail in Unit 9,
      Section D, of FEMA-480, the “Floodplain Management Desk Reference.”
      </p>
      <p>
      For MI2 credit, the community must advise inquirers if the property in question lies within the
      CBRS and, if so, that flood insurance, federal disaster assistance, and other types of federal
      financial assistance are not available for buildings constructed or substantially improved after
      the effective date of designation.
      </p>
      <p>
      The “date of designation” for any given component of the CBRS is the date on which Congress
      added that component to the CBRS. If the boundaries of the CBRS are shown on a community’s
      FIRM, the date of designation is listed in the FIRM’s legend. However, FEMA has discontinued
      delineating CBRS boundaries on its FIRMs, so in the future a community will need to confirm the
      date of designation by other means to receive CRS credit.
      </p>
      <p>
      The community must provide all of the following FIRM information to inquirers:
      </p>
      <ol class="mb-3">
        <li>Whether the property is in an SFHA,</li>
        <li>The community number,</li>
        <li>The panel number and suffix,</li>
        <li>The date of the FIRM’s index (cover panel),</li>
        <li>The FIRM zone, e.g., A, C, X, V, AE, A2, AO, etc.,</li>
        <li>The base flood elevation (the depth in AO Zones) where shown on the FIRM, and</li>
        <li>The elevation datum used on the FIRM, if other than NGVD.</li>
      </ol>
      <p>
        These items provide what is needed to complete most of Section B of the FEMA Elevation
        Certificate form (see Activity 310 (Elevation Certificates)). A copy of the Elevation Certificate for
        the property, if available, can suffice for the minimum requirements of this element. There is no
        prorating for providing only some of the needed map information.
      </p>
      <p>
        The community need only supply the insurance rating data requested. If the inquirer only wants
        to know if a building is in a floodplain, then advising whether it is in an SFHA as shown on the
        FIRM is sufficient.
      </p>
    </li>
    <li>
      If a property is too close to the SFHA boundary to determine the building’s FIRM zone, the
      community may give the inquirer a copy of the FIRM and advise that the FIRM zone cannot be
      determined based on the map information available.
    </li>
    <li>
      The community is not required to provide data that do not appear on the FIRM, such as base
      flood elevations in unnumbered A Zones, but providing additional information from other maps
      and sources of flood hazard and flood protection information is encouraged and may be credited
      under elements MI2 through MI7.
    </li>
    <li>
      If the property is in an SFHA, the community must inform the inquirer of the mandatory flood
      insurance purchase requirement, as appropriate. This may be done by advising the inquirer that
      flood insurance may be required because of the property’s location or by providing a written
      summary of the requirement (see the example below).
    </li>
  </ol>
  <aside class="bg--primary-light p-3">
    <h3 class="h6">
      About the Mandatory Purchase of Flood Insurance
    </h3>
    <p>
      The NFIP: The National Flood Insurance Program (NFIP) is a federal program enabling property
      owners in participating communities to purchase flood insurance on eligible buildings and
      contents, whether they are in or out of a floodplain. This community participates in the NFIP,
      making federally backed flood insurance available to its property owners.
    </p>
    <p>
      The NFIP insures most walled and roofed buildings that are principally above ground on a
      permanent foundation, including mobile homes, and buildings in the course of construction.
      Property owners can purchase building and contents coverage from any local property and
      casualty insurance agent. To find a local insurance agent that writes flood insurance in your
      area, visit www.fema.gov.
    </p>
    <p>
      Mandatory Purchase Requirement: Pursuant to the Flood Disaster Protection Act of 1973 and
      the National Flood Insurance Reform Act of 1994, the purchase of flood insurance is
      mandatory for all federal or federally related financial assistance for the acquisition and/or
      construction of buildings in Special Flood Hazard Areas (SFHAs). An SFHA is defined as any A or
      V flood zone on a Federal Emergency Management Agency (FEMA) Flood Insurance Rate Map
      (FIRM).
    </p>
    <p>
      The mandatory purchase requirement also applies to secured loans from such financial
      institutions as commercial lenders, savings and loan associations, savings banks, and credit
      unions that are regulated, supervised, or insured by federal agencies, such as the Federal
      Reserve, the Federal Deposit Insurance Corporation, the Comptroller of Currency, the Farm
      Credit Administration, the Office of Thrift Supervision, and the National Credit Union
      Administration. It further applies to all loans purchased by Fannie Mae or Freddie Mac in the
      secondary mortgage market.
    </p>
    <p>
      Federal financial assistance programs affected by the laws include loans and grants from
      agencies such as the Department of Veterans Affairs, Farmers Home Administration, Federal
      Housing Administration, Small Business Administration, and FEMA disaster assistance.
      How it Works: When making, increasing, renewing, or extending any type of federally backed
      loan, lenders are required to conduct a flood zone determination using the most current FEMA
      FIRM to determine if any part of the building is located in an SFHA. If the building is in an SFHA,
      the federal agency or lender is required by law to provide written notification to the borrower
      that flood insurance is mandatory as a condition of the loan. Even though a portion of real
      property on which a building is located may lie within an SFHA, the purchase and notification
      requirements do not apply unless the building itself, or some part of the building, is in the
      SFHA. However, lenders, on their own initiative, may require the purchase of flood insurance
      even if a building is located outside an SFHA. Up to 25% of all NFIP flood losses arise from
      outside SFHAs (B, C, and X Zones).
    </p>
    <p>
      Under federal regulations, the required coverage must equal the amount of the loan (excluding
      appraised value of the land) or the maximum amount of insurance available from the NFIP,
      whichever is less. The maximum amount of coverage available for a single-family residence is
      $250,000, and for non-residential (commercial) buildings is $500,000. Federal agencies and
      regulators, including government-sponsored enterprises, such as Freddie Mac and Fannie
      Mae, may have stricter requirements.
    </p>
  </aside>
</section>

<section id="322a-2" aria-labelledby="322a-2-title">
  <h2 id="322a-2-title" class="h5">Credit Points for MI1</h2>
  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    MI1 = 30 points, for providing all the basic information found on a FIRM that is needed to write a flood insurance policy
  </div>
  <p>
    The community must provide all the information needed from the entire FIRM.
  </p>
</section>