

<section id="322d-1" aria-labelledby="322d-1-title">
  <h2 id="322d-1-title" class="h5">Credit Criteria for MI4</h2>

  <!-- TODO: add content for 322d-1 -->
</section>

<section id="322d-2" aria-labelledby="322d-2-title">
  <h2 id="322d-2-title" class="h5">Credit Points for MI4</h2>

  <!-- TODO: add content for 322d-2 -->
</section>