{# â† add this #}

<section id="322g-1" aria-labelledby="322g-1-title">
  <h2 id="322g-1-title" class="h5">Credit Criteria for MI7</h2>

  <!-- TODO: add content for 322g-1 -->
</section>

<section id="322g-2" aria-labelledby="322g-2-title">
  <h2 id="322g-2-title" class="h5">Credit Points for MI7</h2>

  <!-- TODO: add content for 322g-2 -->
</section>