

<section id="332c" aria-labelledby="332c-title">
  <h2 id="332c-title" class="h4">332.c. Program for Public Information (PPI) (extra credit points)</h2>

  <!-- TODO: add content for 332c -->
</section>