

<section id="352a-1" aria-labelledby="352a-1-title">
  <h2 id="352a-1-title" class="h5">Credit Criteria for LIB</h2>

  <!-- TODO: add content for 352a-1 -->
</section>

<section id="352a-2" aria-labelledby="352a-2-title">
  <h2 id="352a-2-title" class="h5">Credit Points for LIB</h2>

  <!-- TODO: add content for 352a-2 -->
</section>

<section id="352a-3" aria-labelledby="352a-3-title">
  <h2 id="352a-3-title" class="h5">Documentation for LIB Provided by the Community</h2>

  <!-- TODO: add content for 352a-3 -->
</section>