

<section id="352b-1" aria-labelledby="352b-1-title">
  <h2 id="352b-1-title" class="h5">Credit Criteria for LPD</h2>

  <!-- TODO: add content for 352b-1 -->
</section>

<section id="352b-2" aria-labelledby="352b-2-title">
  <h2 id="352b-2-title" class="h5">Credit Points for LPD</h2>

  <!-- TODO: add content for 352b-2 -->
</section>

<section id="352b-3" aria-labelledby="352b-3-title">
  <h2 id="352b-3-title" class="h5">Documentation for LPD Provided by the Community</h2>

  <!-- TODO: add content for 352b-3 -->
</section>