

<section id="371a" aria-labelledby="371a-title">
  <h2 id="371a-title" class="h4">371.a. Activity Description</h2>

  <!-- TODO: add content for 371a -->
</section>

<section id="371b" aria-labelledby="371b-title">
  <h2 id="371b-title" class="h4">371.b. Impact Adjustment</h2>

  <!-- TODO: add content for 371b -->
</section>