

<section id="372f-1" aria-labelledby="372f-1-title">
  <h2 id="372f-1-title" class="h5">Credit Criteria for FIM</h2>

  <!-- TODO: add content for 372f-1 -->
</section>

<section id="372f-2" aria-labelledby="372f-2-title">
  <h2 id="372f-2-title" class="h5">Credit Points for FIM</h2>

  <!-- TODO: add content for 372f-2 -->
</section>

<section id="372f-3" aria-labelledby="372f-3-title">
  <h2 id="372f-3-title" class="h5">Documentation for FIM Provided by the Community</h2>

  <!-- TODO: add content for 372f-3 -->
</section>