
<section id="000-1" aria-labelledby="000-1-title">
  <h2 id="000-1-title" class="h2">Using the “Coordinator’s Manual”</h2>
  <p>The “Coordinator’s Manual” is the guidebook for the Community Rating System. It explains how the program operates, what is credited, and how credits are calculated. Although it is primarily a reference for program. activities and credits, it can also help guide communities that want to design or improve their floodplain management programs. This 2025 version of the “Coordinator’s Manual” incorporates changes from the 2021 “Addendum to the 2017 CRS Coordinator’s Manual” and the 2023 document, “A Supplement to CRS Credit.”
  </p>
  <p>If you want to know how the Community Rating System works and how your community can benefit from participating in the program and reduce flood insurance premiums,
  </p>
  <ul>
    <li>
      Start with Section 110 for an overview of the program.
    </li>
    <li>
      Section 200 describes the procedures for applying, required activities, calculating credits, and advancing in the program. Be sure to review the prerequisites for participation in Section 211.
    </li>
  </ul>
  <p>If you want to develop a comprehensive community floodplain management program,</p>
  <ul>
    <li>
      Start with the Community Self-Assessment, Section 240, to help evaluate your existing flood problems, identify potential future flood problems, and to identify appropriate measures to address them.
    </li>
    <li>
      Use the results of the Community Self-Assessment to determine what additional data you need about your flood problem areas. Developing new data can be credited under Activity 410 (Flood Hazard Mapping).
    </li>
    <li>
      Review how to prepare a floodplain management plan, following the 10-step process described in Activity 510 (Floodplain Management Planning). If you have developed a multi-hazard mitigation plan, Activity 510 can still assist you in developing a more comprehensive plan for flood damage reduction.
    </li>
    <li>
      To develop an overall public information program, see the section on the Program for Public Information in Activity 330 (Outreach Projects).
    </li>
  </ul>
  <p>If you want to improve a specific aspect of your existing floodplain management efforts, the CRS has 19 credited activities and additional sections and appendices that provide supplementary guidance and references. Here is a guide to what they cover.
  </p>
  <ul>
    <li>
      Assessing your community’s flood problem: Section 240
    </li>
    <li>
      Mapping and flood data
      <ul>
        <li>
          Developing new maps and data: Activity 410
        </li>
        <li>
          Maintaining and providing maps and data: Activity 440 and Activity 320
        </li>
        <li>
          Providing the data to people: Activity 320
        </li>
        <li>
          Mapping special flood-related hazards (e.g., tsunamis, migrating stream channels, coastal erosion): Activity 320 and Activity 410.
          
        </li>
      </ul>
    </li>
    <li>
      Managing new development to minimize future damage
      <ul>
        <li>
          Preserving open space: Activity 420
        </li>
        <li>
          Protecting natural floodplain functions: Activity 420 and Activity 510
        </li>
        <li>
          Regulating development in the floodplain: Activity 430 and Activity 310
        </li>
        <li>
          Regulating development in the watershed: Activity 450
        </li>
        <li>
          Managing special flood-related hazards (e.g., tsunamis, migrating stream channels, coastal erosion): Activity 420 and Activity 430.
        </li>
      </ul>
    </li>
    <li>
      Developing a floodplain management plan for your community: Activity 510
      <ul>
        <li>
          Reducing flood losses to existing development
        </li>
        <li>
          Acquiring or relocating flood-prone buildings out of harm’s way: Section 501, Activity 520, and Activity 530
        </li>
        <li>
          Protecting flood-prone buildings in place: Activity 530
        </li>
        <li>
          Improving your drainage system maintenance efforts: Activity 540
        </li>
        <li>
          Addressing repetitively flooded properties: Activity 520 and Activity 530
        </li>
      </ul>
    </li>
    <li>
      Improving emergency preparedness and response
      <ul>
        <li>
          Flood warning and response planning: Activity 610
        </li>
        <li>
          Warning and response for areas protected by a levee: Activity 620
        </li>
        <li>
          Warning and response for areas downstream of a dam: Activity 630
        </li>
      </ul>
    </li>
    <li>
      Implementing public information activities
      <ul>
        <li>
          Developing a master public information program: Activity 330
        </li>
        <li>
          Reaching out to people about floods and flood protection: Activity 330
        </li>
        <li>
          Providing detailed information on the potential for flooding and protecting against flood damage: Activity 320, Activity 350, and Activity 360
        </li>
        <li>
          Libraries: Activity 350
        </li>
        <li>
          Websites: Activity 350
        </li>
        <li>
          Disseminating information on flood insurance: Activity 370 and Activity 330
        </li>
        <li>
          Assisting with real estate disclosure: Activity 340.
        </li>
      </ul>
    </li>
  </ul>
</section>

<section id="000-2" aria-labelledby="000-2-title">
  <h2 id="000-2-title" class="h2">More about the “Coordinator’s Manual”</h2>
  <p>
    This document uses some technical terms and acronyms. The terms are defined in the Glossary, Section 120. The acronyms are listed in Appendix A. The most common acronyms are:
  </p>

  {%- assign manualAcronyms = manual.acronyms -%}
  {%- assign order = "NFIP, FEMA, CRS, FIRM, SFHA" | split: "," -%}

  <dl class="acronyms">
    {%- for t in order -%}
      {%- assign term = t | strip -%}
      {%- assign item = manualAcronyms | where: "term", term | first -%}
      <dt id="{{ term | slugify }}">
        <abbr title="{{ item.definition | strip_html | strip_newlines | escape }}">
          {{ term }}
        </abbr>
      </dt>
      <dd>{{ item.definition }}</dd>
    {%- endfor -%}
  </dl>

  <p>
    Communities and other floodplain management professionals are encouraged to make suggestions on both the content and the form of the CRS. Send them to <a href="mailto:fema-crs@fema.dhs.gov">fema-crs@fema.dhs.gov</a>.
  </p>
</section>