<div class="responsive">
  <table id="110-1t" class="table table-sm table-bordered caption-top" aria-labelledby="110-1t-title">
    <caption id="110-1t-title">Figure 210-1: The CRS Program Data Table (CC-213 Recertification).<span>Instructions for completing the Program Data Table are included in the annual recertification materials sent to communities by their Contractor each year.</span></caption>
    <colgroup>
      <col style="width:67.6666667%;">
      <col style="width:9.111111%;">
      <col style="width:12.1111111%;">
      <col style="width:12.1111111%;">
    </colgroup>
    <thead>
      <th scope="col" class="align-middle">CRS Program Data</th>
      <th scope="col" class="align-top">A. In the SFHA</th>
      <th scope="col" class="align-top">B. In a regulated floodplain outside the SFHA</th>
      <th scope="col" class="align-top">C. In the rest of the community</th>
    </thead>
    <tbody>
      <tr>
        <td>
          1. Last report’s number of buildings in the SFHA (bSF) (line 6, last report)
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          2. Number of new buildings constructed since last report
        </td>
        <td>
          +
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr> 
      <tr>
        <td>
          3. Number of buildings removed/demolished since last report
        </td>
        <td>
          -
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          4. Number of buildings affected by map revisions since last report (+/–)
        </td>
        <td>
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          5. Number of buildings affected by corporate limits changes (+ or –)
        </td>
        <td>
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          6. Current total number of buildings in the SFHA (bSF) (total lines 1–5)
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          7. Number of substantial improvement/damage projects since last report
        </td>
        <td>
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          8. Number of repetitive loss properties mitigated since last report
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr> 
      <tr>
        <td>
          9. Number of LOMRs and map revisions (not LOMAs) since last report
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
        </td>
        <td>
          &nbsp;
        </td>
        <td class="td-omitted">
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          10. Acreage of the SFHA (aSFHA) as of the last report (line 13, last report)
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          11. Acreage of area(s) affected by map revisions since last report (+ or –)
        </td>
        <td>
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          12. Acreage of area(s) affected by corporate limits changes (+ or –)
        </td>
        <td>
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          13. Current acreage of the SFHA (aSFHA) (total lines 10−12)
        </td>
        <td>
        </td>
        <td class="td-omitted">
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          14. Primary source for building data:
        </td>
        <td colspan="3">
        </td>
      </tr> 
      <tr>
        <td colspan="4">
          <span class="pe-2 border-end">15. Primary source for area data:</span>
        </td>
      </tr> 
      <tr>
        <td colspan="2">
          <div class="row justify-content-between">
            <span class="col-4">16. Period covered:</span>
            <span class="col-4 border-start border-end">From________ To__________</span>
            <span class="col-4">Current FIRM date: </span>
          </div>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr> 
      <tr>
        <td class="ps-4">
          If available, the following data would be useful:
        </td>
        <td class="td-omitted">
        </td>
        <td class="td-omitted">
        </td>
        <td class="td-omitted">
        </td>
      </tr> 
      <tr>
        <td>
          17. Number of new manufactured homes installed since last report
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr> 
      <tr>
        <td>
          18. Number of other new 1 - 4 family buildings constructed since last report
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr> 
      <tr>
        <td>
          19. Number of all other buildings constructed/installed since last report
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr> 
    </tbody>
    <tfoot>
      <td colspan="4" class="text-start">
        Notes: Lines 1–8 deal with “buildings.” Section 301 has more information about what qualifies as “buildings” and how they are counted for CRS purposes. Numbers in column A are for the Special Flood Hazard Area. If the community also regulates floodplain development outside the SFHA, Column B is completed (and the community may deserve credit under Activity 410 (Flood Hazard Mapping)). The data in Column C help relate what happens in the floodplain to what is happening in the rest of the community.
      </td>
    </tfoot>
  </table>
</div>