<div class="responsive">
  <table id="303-1t" class="table table-sm table-bordered caption-top text-start align-middle" aria-labelledby="303-1t-title">
    <caption id="303-1t-title">Table 303-1: Impact adjustments for buildings</caption>
    <thead>
      <th scope="col">Activity</th>
      <th scope="col">Element</th>
      <th scope="col">Denominator</th>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2">310 (Elevation Certificates)</td>
        <td>ECPO</td>
        <td>Number of post-FIRM buildings (bPO)</td>
      </tr>
      <tr>
        <td>ECPR</td>
        <td>Number of pre-FIRM buildings (bPR)</td>
      </tr>
      <tr>
        <td>510 (Floodplain Management Planning)</td>
        <td>RLAA</td>
        <td>Number of buildings in all repetitive
        loss areas</td>
      </tr>
      <tr>
        <td>520 (Acquisition and Relocation)</td>
        <td>All</td>
        <td>bSF + number of credited buildings</td>
      </tr>
      <tr>
        <td>530 (Flood Protection)</td>
        <td>All</td>
        <td>BSF</td>
      </tr>
      <tr>
        <td>610 (Flood Warning and Response)</td>
        <td>FTR, EWD, FRO, CFP</td>
        <td>BSF</td>
      </tr>
      <tr>
        <td>620 (Levees)</td>
        <td>All</td>
        <td>Number of buildings affected by
        levee failure (bLF)</td>
      </tr>
      <tr>
        <td>630 (Dams)</td>
        <td>DFR, DFW, DFO, DCF</td>
        <td>Number of buildings inundated by a
        dam failure flood (bDF)</td>
      </tr>
    </tbody>
    <tfoot>
      <td colspan="3">Elements not listed do not have an impact adjustment calculation.</td>
    </tfoot>
  </table>
</div>