---
id: "230"
series: "200"
heading_level: 2
page_in_manual: 230-1
---

## 230 VERIFICATION—Summary