<h1 id="312b-title">312.b. Maintaining Elevation Certificates for post-FIRM buildings (ECPO)</h1>



<section id="312b-1" aria-labelledby="312b-1-title">
  <h2 id="312b-1-title" class="h5">Credit Criteria for ECPO</h2>

  <!-- TODO: add content for 312b-1 -->
</section>

<section id="312b-2" aria-labelledby="312b-2-title">
  <h2 id="312b-2-title" class="h5">Credit Points for ECPO</h2>

  <!-- TODO: add content for 312b-2 -->
</section>

<section id="312b-3" aria-labelledby="312b-3-title">
  <h2 id="312b-3-title" class="h5">Impact Adjustment for ECPO</h2>

  <!-- TODO: add content for 312b-3 -->
</section>

<section id="312b-4" aria-labelledby="312b-4-title">
  <h2 id="312b-4-title" class="h5">Documentation for ECPO Provided by the Community</h2>

  <!-- TODO: add content for 312b-4 -->
</section>