{# â† add this #}

<section id="322a-1" aria-labelledby="322a-1-title">
  <h2 id="322a-1-title" class="h5">Credit Criteria for MI1</h2>

  <!-- TODO: add content for 322a-1 -->
</section>

<section id="322a-2" aria-labelledby="322a-2-title">
  <h2 id="322a-2-title" class="h5">Credit Points for MI1</h2>

  <!-- TODO: add content for 322a-2 -->
</section>