{# â† add this #}

<section id="322b-1" aria-labelledby="322b-1-title">
  <h2 id="322b-1-title" class="h5">Credit Criteria for MI2</h2>

  <!-- TODO: add content for 322b-1 -->
</section>

<section id="322b-2" aria-labelledby="322b-2-title">
  <h2 id="322b-2-title" class="h5">Credit Points for MI2</h2>

  <!-- TODO: add content for 322b-2 -->
</section>