<h1 id="342b-title">342.b. Other disclosure requirements (ODR)</h1>



<section id="342b-1" aria-labelledby="342b-1-title">
  <h2 id="342b-1-title" class="h5">Credit Criteria for ODR</h2>

  <!-- TODO: add content for 342b-1 -->
</section>

<section id="342b-2" aria-labelledby="342b-2-title">
  <h2 id="342b-2-title" class="h5">Credit Points for ODR</h2>

  <!-- TODO: add content for 342b-2 -->
</section>

<section id="342b-3" aria-labelledby="342b-3-title">
  <h2 id="342b-3-title" class="h5">Documentation for ODR Provided by the Community</h2>

  <!-- TODO: add content for 342b-3 -->
</section>