<h1 id="342d-title">342.d. Disclosure of other hazards (DOH)</h1>



<section id="342d-1" aria-labelledby="342d-1-title">
  <h2 id="342d-1-title" class="h5">Credit Points for DOH</h2>

  <!-- TODO: add content for 342d-1 -->
</section>

<section id="342d-2" aria-labelledby="342d-2-title">
  <h2 id="342d-2-title" class="h5">Documentation for DOH Provided by the Community</h2>

  <!-- TODO: add content for 342d-2 -->
</section>