<h1 id="372d-title">372.d. Technical assistance (TA)</h1>



<section id="372d-1" aria-labelledby="372d-1-title">
  <h2 id="372d-1-title" class="h5">Credit Criteria for TA</h2>

  <!-- TODO: add content for 372d-1 -->
</section>

<section id="372d-2" aria-labelledby="372d-2-title">
  <h2 id="372d-2-title" class="h5">Credit Points for TA</h2>

  <!-- TODO: add content for 372d-2 -->
</section>

<section id="372d-3" aria-labelledby="372d-3-title">
  <h2 id="372d-3-title" class="h5">Documentation for TA Provided by the Community</h2>

  <!-- TODO: add content for 372d-3 -->
</section>