<h1 id="372g-title">372.g. State-required continuing education (SCE)</h1>



<section id="372g-1" aria-labelledby="372g-1-title">
  <h2 id="372g-1-title" class="h5">Credit Criteria for SCE</h2>

  <!-- TODO: add content for 372g-1 -->
</section>

<section id="372g-2" aria-labelledby="372g-2-title">
  <h2 id="372g-2-title" class="h5">Credit Points for SCE</h2>

  <!-- TODO: add content for 372g-2 -->
</section>

<section id="372g-3" aria-labelledby="372g-3-title">
  <h2 id="372g-3-title" class="h5">Documentation for SCE Provided by the Community</h2>

  <!-- TODO: add content for 372g-3 -->
</section>