<p>
  This series covers the procedures for applying for a Community Rating System (CRS) classification and the steps for calculating and verifying a community’s credit. It also covers annual recertification, modifications to the community’s credit, and cycle verification.
</p>