<h2 id="211-program-prerequisites">211 Program Prerequisites</h2>
<p>A community must meet the current prerequisites at each verification visit.</p>
<ol class="lower-alpha-list">
  <li>Class 9 Prerequisites: There are six prerequisites to become and stay a Class 9 or better community. They include being in full compliance with the minimum requirements of the National Flood Insurance Program (NFIP), receiving credit for maintaining FEMA Elevation Certificates, and meeting repetitive loss criteria.</li>
  <li>Class 8 Prerequisite: To become a Class 8 or better community, a community must adopt and enforce at least a 1-foot freeboard requirement (including machinery or equipment) for all residential buildings in the SFHA where FEMA has determined a BFE.</li>
  <li>Class 6 Prerequisite: To become a Class 6 or better community, a community must have received a classification of 5/5 or better under the Building Code Effectiveness Grading Schedule.</li>
  <li>Class 4 Prerequisites: To become a Class 4 or better community, a community must demonstrate that it has programs that minimize flood losses, minimize increases in future flooding, protect natural floodplain functions, and protect people from the dangers of flooding.</li>
  <li>Class 1 Prerequisites: To become a Class 1 community, a community must have had a successful Community Assistance Visit conducted by FEMA within the previous 12 months and demonstrate that it has a “no adverse impact” program by receiving a certain number of points for designated activities.</li>
</ol>

<h2 id="212-application-procedures">212 Application Procedures</h2>
<p>The documentation and procedures for joining the Community Rating System are listed. Most of what is needed is collected at the initial verification visit.</p>

<h2 id="213-recertification">213 Recertification</h2>
<p>Each year, the community’s chief executive officer must recertify that the community is continuing to implement the activities for which credit has been provided.</p>

<h2 id="214-modifications">214 Modifications</h2>
<p>A community may modify its CRS classification by applying for credit for new elements or activities, dropping one or more elements or activities, or submitting revised versions of materials.</p>

<h2 id="215-changes-in-credit">215 Changes in Credit</h2>
<p>A community’s credit can change when it changes its activities, when the ”Coordinator’s Manual” is revised, when its floodplain map is revised, and/or if it allows more development in the floodplain.</p>

