

<section id="212a" aria-labelledby="212a-title">
  <h2 id="212a-title" class="h4">212.a. Application Request</h2>

  <!-- TODO: add content for 212a -->
</section>

<section id="212b" aria-labelledby="212b-title">
  <h2 id="212b-title" class="h4">212.b. Application Documentation</h2>

  <!-- TODO: add content for 212b -->
</section>

<section id="212c" aria-labelledby="212c-title">
  <h2 id="212c-title" class="h4">212.c. Verification Processing</h2>

  <!-- TODO: add content for 212c -->
</section>

<section id="212d" aria-labelledby="212d-title">
  <h2 id="212d-title" class="h4">212.d. Reinstating Previous CRS Communities</h2>

  <!-- TODO: add content for 212d -->
</section>