
<p>
A community may modify its CRS classification by applying for credit for new elements or activities,
dropping one or more elements or activities, or submitting revised versions of materials.
</p>

<section id="214a" aria-labelledby="214a-title">
  <h2 id="214a-title" class="h4">214.a. Modification Criteria</h2>
  <p>
  Modifications are processed and verified in the same manner as cycle verification visits, although a
  visit may not be necessary if everything can be verified remotely.
  </p>
  <p>
  The following provisions apply to modifications.
  </p>
  <ol class="paren-numlist">
    <li>
    A cover letter and the documentation needed for the credit are submitted to the Contractor.
    </li>
    <li>
    The community must use the credit criteria and class prerequisites of the “Coordinator’s Manual” in effect at the time the modification is submitted.
    </li>
    <li>
    A community’s CRS classification cannot change more than once a year. Therefore, only one modification can be processed over a 12-month period.
    </li>
    <li>
    If a community is modifying an activity previously applied for, its submittal must include documentation for both the new elements of the activity and those that were previously credited, if they are still being implemented.
    </li>
    <li>
    The Contractor verifies only the activity(ies) being modified and reviews the rest at the next cycle verification visit. There are two exceptions to this, as noted under (6) and (7), below.
    {% render "content/2017-coordinators-manual/tables/210-1.liquid" %}
    </li>
    <li>
      The Contractor will automatically update the community’s credit points for
      <ol>
        <li>
          The community’s BCEGS classification (a Class 6 and Class 4 prerequisite and credited in Section 432(h));
        </li>
        <li>
          The community’s credit for the state dam safety credit (Section 632.a); and
        </li>
        <li>
          The county growth adjustment (Section 710). If the growth adjustment is changed, the total points for all affected activities in the 400 series will reflect the new factor.
        </li>
        <li>
          If the community’s repetitive loss category has changed since the previous cycle verification, the community must comply with Section 502.a, as applicable.
        </li>
      </ol>
    </li>
    <li>
      The community’s entire program is verified with a verification visit under the following circumstances:
      <ol>
        <li>
          If the modification will result in a two-class improvement, or
        </li>
        <li>
          If the “Coordinator’s Manual” has substantially changed most of the rest of the community’s credits.
        </li>
      </ol>
      In these situations, the verification visit counts as a cycle verification visit and the community’s cycle schedule starts over.
    </li>
  </ol>
</section>

<section id="214b" aria-labelledby="214b-title">
  <h2 id="214b-title" class="h4">214.b. Courtesy Reviews</h2>
  <p>
    Communities are encouraged to submit materials at any time for the Contractor to review. A courtesy review advises the community about the impact of new programs or revisions to existing activities on its CRS credit.
  </p>
  <p>
    Courtesy review materials are returned to the community with comments. They are not credited to the community’s program. The only way a community’s credit points may be changed is by submitting a modification with enough points to result in a class change.
  </p>
  <p>
    If the community submits a modification that does not have sufficient credit points to result in a class change, it is treated as material for a courtesy review.
  </p>
</section>