<p>
Calculating the Community Rating System classification for a community is done in five steps as
explained in Sections 221–225. Four terms are used throughout the “Coordinator’s Manual.”
</p>
<ul>
  <li>The program is divided into four series of activities: “Public Information Activities,” “Mapping and Regulation,” “Flood Damage Reduction Activities,” and “Warning and Response.”</li>
  <li>Within each series, there are three to seven activities.</li>
  <li>Within each activity, there are one or more elements.</li>
  <li>For each element, there are one or more variables. These variables often include the acronym for the element. The variables are needed for the formulae that are used to calculate the credit
  points for each element.</li>
</ul>
<h2>221 Step 1. Element Credit Points</h2>
<p>
Each activity has a section entitled “Credit Criteria” and/or “Credit Points.” Each element has a
maximum number of credit points, which can be earned if the element meets the listed credit
criteria.
</p>
<h2>222 Step 2. Impact Adjustment</h2>
<p>
The credit points earned in Step 1 need to be adjusted to reflect the impact of the community’s
activity on floodplain development and on the community’s flood insurance premium base.
</p>
<h2>223 Step 3. Credit Calculation</h2>
<p>
The last step listed for each activity is to compute its credit by multiplying the element’s credit points
by the impact adjustment. The credits for each element are totaled to compute the activity’s credit
points.
</p>
<h2>224 Step 4. County Growth Adjustment</h2>
<p>The points for the five mapping and regulatory activities in the 400 series are adjusted to reflect the
county’s growth rate.</p>
<h2>225 Step 5. Community Classification</h2>
<p>
  The points for all the activities are totaled to calculate the community’s CRS classification.
</p>

<section id="220-1" aria-labelledby="220-1-title">
  <h2 id="220-1-title" class="h3">220 Credit Calculation</h2>
  <p>
    Calculating the Community Rating System credit points and determining the CRS classification for a community is done in five steps:
  </p>
  <ul>
    <li>
      Step 1. Element Credit Points,
    </li>
    <li>
      Step 2. Impact Adjustment,
    </li>
    <li>
      Step 3. Credit Calculation,
    </li>
    <li>
      Step 4. County Growth Adjustment, and
    </li>
    <li>
      Step 5. Community Classification.
    </li>
  </ul>
  <p>
    The steps are explained in Sections 221–225. The Contractor calculates the community’s credit points after each verification visit. A community may also use the Quick Check to estimate its credits, and work with the Contractor to more accurately calculate credit points. 
  </p>
  <p>
    All credit points calculated by a community are unofficial and are verified by the Contractor. The final, verified, points are determined by the Contractor. 
  </p>
  <p>
    Four terms are used throughout the “Coordinator’s Manual”: (1) series, (2) activity, (3) element, and (4) variable. These divisions direct communities to the credits for which they qualify, and divide the program logically into easily understood pieces.
  </p>
</section>

<section id="220-2" aria-labelledby="220-2-title">
  <h3 id="220-2-title">Series</h3>
  <p>
    The CRS activities are divided into four series:
  </p>
  <ul>
    <li>300 Series – Public Information Activities,</li>
    <li>400 Series – Mapping & Regulations,</li>
    <li>500 Series – Flood Damage Reduction Activities, and</li>
    <li>600 Series – Warning and Response.</li>
  </ul>
  <p>
    These series are the subject of the four main sections of the “Coordinator’s Manual” and recognize community efforts to inform the public, prevent future flood damage, address existing flood problems, and prepare for flood emergencies.
  </p>
</section>

<section id="220-3" aria-labelledby="220-3-title">
  <h3 id="220-3-title">Activities</h3>
  <p>
    Each series has three to seven activities. Within the four series, there are 19 CRS activities. Each activity has a title, such as “Flood Hazard Mapping” or “Acquisition and Relocation.” The titles are mostly self-explanatory, but they may include components that are not specifically named in the title. A summary page at the beginning of each activity lists that activity’s elements.
  </p>
  <p>
    A community may select which activities it wants credit for, with three exceptions:
  </p>
  <ul>
    <li>
      Activity 310 (Elevation Certificates) is a prerequisite for all communities for participation in the program (see Section 211.a).
    </li>
    <li>
      Activity 510 (Floodplain Management Planning) is a prerequisite for Category C repetitive loss communities (see Section 503).
    </li>
    <li>
      If a community wants to become a Class 6 community, it must have received and continue to maintain a classification of 5/5 or better under the Building Code Effectiveness Grading Schedule (BCEGS).
    </li>
    <li>
      If a community wants to become a Class 1–4 community, it must have credit from certain activities to show that it has a program that addresses all the goals of the CRS program (see Section 211.c and d), and it must have received and continue to maintain a classification of 4/4 or better under the BCEGS).
    </li>
  </ul>
  <p>
    At the end of the credit calculation process, the credits for all activities are added together to get the community’s total credit (see Section 225).
  </p>
</section>

<section id="220-4" aria-labelledby="220-4-title">
  <h3 id="220-4-title">Elements</h3>
  <p>
    Within each activity, there are one or more elements. These are discrete pieces of a community’s floodplain management program, and each receives a certain number of credit points.
  </p>
  <p>
    Each element has an acronym that is used in the calculation formulae. Some elements have sub- elements that are numbered.
  </p>
  <div class="card mb-3">
    <div class="card-header">
      Example 220.c-1.
    </div>
    <div class="card-body">
      <p>
        The elements and their acronyms in Activity 310 (Elevation Certificates) are
      </p>
      <ul>
        <li>CCMP, credit for Construction Certificate Management Procedures</li>
      </ul>
    </div>
  </div>
  <p>
    The elements and their acronyms in Activity 320 (Map Information Service) are
  </p>
  <ul>
    <li>
      MI1, credit for providing basic FIRM information
    </li>
    <li>
      MI2, credit for providing additional FIRM information
    </li>
    <li>
      MI3, credit for showing problems not shown on the FIRM
    </li>
    <li>
      MI4, credit for providing flood depth data
    </li>
    <li>
      MI5, credit for advising inquirers about special flood-related hazards
    </li>
    <li>
      MI6, credit for providing historical flood information
    </li>
    <li>
      MI7, credit for advising inquirers about natural floodplain functions
    </li>
  </ul>
  <p>
    A community need not apply for all of the elements in an activity in order to receive credit points for the activity. However, in some cases, one element may be required in order to obtain any credit. For example, MI1 is a prerequisite for any Activity 320 credit. These requirements are shown in the “Credit Criteria” section of the activity or element.
  </p>
</section>

<section id="220-5" aria-labelledby="220-5-title">
  <h3 id="220-5-title">Variables</h3>
  <p>
    Each element’s acronyms are used in the formulae to calculate the credit points. These acronyms are listed alphabetically in Appendix A. The acronyms or variables for basic scoring elements are capitalized, as in “ECPO,” the variable that represents Elevation Certificates for post-FIRM buildings. 
  </p>
  <p>
    For each element, there are one or more additional variables used in the calculation formulae. Most of these have a lower-case letter preceding the acronym for the element.
  </p>
  <div class="card mb-3">
    <div class="card-header">
      Example 220.d-1.
    </div>
    <div class="card-body">
      <p>
        The variables associated with post-FIRM Elevation Certificates are
      </p>
      <ul>
        <li>
          ECPO, the initial points for the element;
        </li>
        <li>
          bECPO, the number of post-FIRM buildings with Elevation 
        </li>Certificates;
        <li>
          rECPO, the impact adjustment ratio for the element; and
        </li>
        <li>
          cECPO, the credit for the element, after the impact adjustment.
        </li>
      </ul>
    </div>
  </div>
