
<p>
  The first step is to determine the credit points for each element for which the community requests credit. Under each
  activity is a section entitled “Credit Criteria.” For some activities there is a single “Activity Credit Criteria” and
  for other activities there is a separate credit criteria section under each element. These sections need to be
  reviewed to ensure that the community’s program qualifies for credit.
</p>
<p>
  Each activity also has a “Credit Points” section. Each element has a maximum number of credit points that can be
  earned if the element is being implemented in accordance with the credit criteria. A community will receive less than
  the maximum points if its program does not include all the items listed in the Credit Points section.
</p>
<div class="card mb-3">
  <div class="card-header">
    Example 221-1.
  </div>
  <div class="card-body">
    <p>
      Freeboard (FRB) is an element under Activity 430 (Higher Regulatory Standards). Freeboard can receive up to 500
      points, depending on how high it is and whether fill is regulated. The points for FRB are listed in a table. The
      value for a freeboard not listed, such as 1.5 feet, can be interpolated from the table.
    </p>
    <div class="table-responsive">
      <table class="table-sm caption-top">
        <caption>
          FRB = as shown below, based on the required freeboard
        </caption>
        <thead>
          <th scope="col">Freeboard</th>
          <th scope="col">No Filling Restrictions</th>
          <th scope="col">Compensatory storage required</th>
          <th scope="col">Fill Prohibited</th>
        </thead>
        <tbody>
          <tr>
            <td>1 foot</td>
            <td>100</td>
            <td>110</td>
            <td>120</td>
          </tr>
          <tr>
            <td>2 feet</td>
            <td>225</td>
            <td>250</td>
            <td>280</td>
          </tr>
          <tr>
            <td>3 feet</td>
            <td>375</td>
            <td>440</td>
            <td>500</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      For this series of examples, a community has a freeboard requirement of one foot above the base flood elevation, and it requires compensatory storage if fill is used to elevate the building.
    </p>
    <div class="ps-5">
      FRB = 110
    </div>
  </div>
</div>

<section id="221-1" aria-labelledby="221-1-title">
  <h2 id="221-1-title" class="h4">Credit for Activities not listed in the “Coordinator’s Manual”</h2>
  <p>
    The CRS cannot prescribe credit criteria for every possible scenario of effective floodplain management in the country. The community may make reasonable interpretations that its program is in line with the intent of the element credit. However, it is recommended that whenever a community has trouble fitting its program into the credit criteria, it contact the Contractor. It may be that the “Coordinator’s Manual” is being misunderstood or misinterpreted and that things are simpler than they first appear.
  </p>
  <p>
    In accordance with Section 113.c, a community may submit alternative approaches to the listed elements. They will be considered by the Contractor and the Federal Emergency Management Agency (FEMA). In instances in which the approach is difficult to apply to the existing formula, the applicant should demonstrate its impact on the objective of the activity. Where a state or regional approach is different, it would be appropriate for the state or regional agency to demonstrate the impact on behalf of its communities and have the approach credited under Section 231.d. 
  </p>
  <p>
    Activity 430 (Higher Regulatory Standards) provides an example for this. Because there are so many ways to exceed the regulatory standards of the National Flood Insurance Program, one of the elements is “other higher standards” (OHS). OHS allows for higher local regulatory standards not listed under Activity 430 to be considered for credit.
  </p>
</section>