<p>The credit points need to be adjusted to reflect the activity’s impact on the community’s flood
  insurance premium base, which can include more policies than are actually in the area affected by
  the activity. For example, 100% of the buildings in the Special Flood Hazard Area (SFHA) will benefit
  from the programs insurance premium credit even if only 50% of the SFHA is subject to higher
  regulatory standards or other activities. Therefore, this Step 2 adjustment also serves to adjust
  credits so that the dollar impact of any discounts is spread over the community’s entire premium
  base.</p>
<p>A community that has preserved most of its floodplain as open space should receive more credit
  under Activity 420 (Open Space Preservation) than one that has only a small area preserved.
  Therefore, the element credit points determined in Step 1 need to be adjusted to reflect the impact
  of the community’s program on the objective of the activity.</p>
<p>There are two bases for most impact adjustments:</p>
<ol class="paren-numlist">
  <li>
    The number of buildings that are affected compared to the number of buildings in the SFHA. For example, if a community
    wants credit for having Elevation Certificates on 25 post-FIRM buildings and it has 100 post-FIRM buildings in its
    SFHA, then it gets 25  100 = 0.25 or 25% of the maximum credit. Impact adjustments based on buildings is covered in
    more detail in Sections 301–302.
  </li>
  <li>
    The area of the floodplain that is affected compared to the area of the SFHA. If a community has 1,000 acres of SFHA
    and 200 acres are preserved as open space, it gets 200  1,000 = 0.2 or 20% of the maximum credit. Area is used to
    adjust credits in the 400 series of mapping and regulatory activities, because the impact is on new development, not
    existing buildings. Impact adjustments based on area are covered in more detail in Sections 402–404.
  </li>
</ol>
<p>Some elements do not lend themselves to building or area measurements. For natural shoreline
  protection (NSP) under Activity 430 (Higher Regulatory Standards), for example, the length of
  shoreline is used.</p>
<p>Most of the activities have a section entitled, “Impact Adjustment.” The impact adjustment sections
  describe one or more “r” variables. The impact adjustment ratios (“r” variables) usually have a range
  of 0 to 1. They are the result of a formula that divides the number of buildings or area affected by the
  total number of buildings or area of interest. In most cases the area of interest is the SFHA, but in
  the stormwater management elements, for example, the area of interest is the watershed that drains
  into the community.</p>
<p>In all CRS calculation formulae, numbers are rounded to two decimal points at each step. Numbers
  of 0.005 or higher are rounded up to the next 100th and numbers below 0.005 are rounded down.
  Final credit points for each activity are rounded to the nearest whole number.</p>

<div class="card mb-3">
  <div class="card-header">
    Example 222-1.
  </div>
  <div class="card-body">
    <p>
    The impact adjustment ratios for the elements in Activity 430 are established in an “Impact
    Adjustment” section for each element. For freeboard, the formula is:
    </p>
    <div class="ps-5">
      <math class="d-inline">
        <mi>rFRB</mi>
        <mo>=</mo>
        <mfrac>
          <mrow>
            <mi>aFRB</mi>
          </mrow>
          <mrow>
            <mi>aSFHA</mi>
          </mrow>
        </mfrac>
      </math>,
      where
      <dl class="mt-3 ps-5">
        <dt>aFRB</dt>
        <dd>the size of the area(s) that qualify for FRB credit, and</dd>
        <dt>aSFHA</dt>
        <dd>the size of the community’s SFHA</dd>
      </dl>
    </div>
    <p>The community in Example 221-1 does not require freeboard throughout its SFHA. It only
      enforces its freeboard requirement where there is a base flood elevation. Therefore, this higher
      regulatory standard has no impact in approximate A Zones, where there are no base flood
      elevations shown on the FIRM.</p>
    <p>The area where freeboard has an impact (aFRB) is the area of all the SFHA with base flood
      elevations, i.e., AE and VE Zones. In this community’s case, that is 744 acres. The SFHA is 932
      acres.</p>
      <div class="ps-5">
        <math class="d-inline">
          <mi>aFRB</mi>
          <mo>=</mo>
          <mn>754</mn>
        </math>
      </div>
      <div class="mt-3 ps-5">
        <math class="d-inline">
          <mi>aSFHA</mi>
          <mo>=</mo>
          <mn>932</mn>
        </math>
      </div>
      <div class="mt-3 ps-5">
        <math class="d-inline">
          <mi>rFRB</mi>
          <mo>=</mo>
          <mfrac>
            <mrow>
              <mi>aFRB</mi>
            </mrow>
            <mrow>
              <mi>aSFHA</mi>
            </mrow>
          </mfrac>
          <mo>=</mo>
          <mfrac>
            <mrow>
              <mi>754</mi>
            </mrow>
            <mrow>
              <mi>932</mi>
            </mrow>
          </mfrac>
          <mo>=</mo>
          <mn>0.809012875</mn>
          <mo>=</mo>
          <mn>0.81</mn>
        </math>
        <span>(rounded to two decimal points)</span>
      </div>
  </div>
</div>
<p>Some activities and elements have no impact adjustment section because they must cover the
  entire floodplain or the entire community for credit. For example, most of the public information
  programs benefit all residents in the community, so they do not have an impact adjustment step.</p>