<p>
  The credit points for the five activities in the 400 Series (Mapping and Regulations) are adjusted to
  reflect the county’s growth rate. The faster an area grows, the more important it is to regulate
  development to prevent flood losses. The county growth adjustment multiplier is included in the final
  calculations of the community’s credit in Section 720. The value to enter is determined in Section
  710 (County Growth Adjustment).
</p>
<div class="card mb-3">
  <div class="card-header">
    Example 224-1.
  </div>
  <div class="card-body">
    <p>
      The county growth adjustment (CGA) for the community in the earlier examples is 1.18, i.e., it
      has an average annual growth rate of 1.8%. In Section 720, Community Total Points, CGA is
      multiplied by the value for each of the 400 Series activities.
    </p>
    <div class="ps-5 mb-3">
      <math display="inline">
        <mi>c430</mi>
        <mo>=</mo>
        <mi>c430</mi>
        <mo>&times;</mo>
        <mi>CGA</mi>
        <mo>=</mo>
        <mn>120</mn>
        <mo>&times;</mo>
        <mn>1.18</mn>
        <mo>=</mo>
        <mn>141.60</mn>
      </math>
    </div>
    <p>
      The credit for Activity 430 is increased by 18%, or 21.60 points.
    </p>
  </div>
</div>
<p>
  Note that the credit required for program prerequisites (Section 211) is considered before the calculation for the county growth adjustment.
</p>