<p>
  At Step 5, the points for all the activities are totaled to obtain the community’s total points (cT). The
  total points determine the community CRS classification, assuming all prerequisites have been met.
  The conversion of total points to a CRS class is shown in Table 110-1. An example of Step 5 is shown
  in Section 720.
</p>