<p>
  The Community Rating System (CRS) application process is discussed in Section 212.
  Calculating the credit points is covered in Section 220. This section summarizes the
  other parts of the verification process. In order to receive credit points for its
  activities, a community’s program must be verified.
</p>

<p>This work is done by the Contractor, who:</p>
<ul>
  <li>Reviews the community’s submitted documentation;</li>
  <li>Visits the community to review files, permit records, etc.;</li>
  <li>Visits field sites to review implementation on the ground;</li>
  <li>Determines if the class and activity prerequisites are met;</li>
  <li>Calculates the appropriate credit points; and</li>
  <li>Ensures that the community file is processed for FEMA’s decision.</li>
</ul>

<p>Search for names and territories of the <a href="https://crsresources.org/100-2/">Contractors</a>.</p>