<p>
  The verification of applications, recertifications, and modifications requires documentation. The
  Contractor must collect materials on the credited activities. The materials are used to prepare a file
  that is available for internal review and for the Federal Emergency Management Agency (FEMA).
</p>
<p>
  Each activity or element has a section titled “Documentation Provided by the Community,” which
  itemizes what is needed for verification or recertification. This section covers some standard
  documentation protocols.
</p>


<section id="231a" aria-labelledby="231a-title">
  <h2 id="231a-title" class="h4">231.a. Certifications, Checklists, and Examples</h2>
  <p>
    Most documents that are needed to verify CRS credits are copies of the ordinances, permit files, and
    records maintained by the community during its normal course of business. The CRS is designed to
    credit what the community is doing, so to the extent possible, locally developed documentation is
    preferred. However, there are a few documents that usually are not kept by a community, but are
    needed for the CRS or have proven useful in obtaining CRS credit.
  </p>

<section id="231a-1" aria-labelledby="231a-1-title">
  <h3 id="231a-1-title" class="h5">Certifications</h3>
  <p>
    Certifications are statements signed by a community official, attesting that a certain thing was or will
    be done. An example is the Chief Executive Officer’s assurance that the community will continue to
    implement the activities for which it has requested credit. To facilitate local documentation and to
    obtain national standardization, there are four “Community Certifications.”
  </p>
  <ul>
    <li>CC-213 Recertification</li>
    <li>CC-230 Verification</li>
    <li>CC-RL The Repetitive Loss List</li>
    <li>CC-530 Retrofitted Buildings</li>
  </ul>
  
  <p>
    Other certification forms document that a community’s programs comply with local, state,
    and federal environmental laws and regulations. These environmental and historic
    preservation (EHP) certifications are needed if the community applies for credit under
    the activities listed below. These are activities that could have an adverse effect on
    the environment or on historic properties or areas.
  </p>
  
  <ul>
    <li>Activity 520 (Acquisition and Relocation)</li>
    <li>Activity 530 (Flood Protection)</li>
    <li>Activity 540 (Drainage System Maintenance)</li>
    <li>Activity 620 (Levees)</li>
  </ul>
  
  <p>
    All Community Certifications have been reviewed and approved by the Office of Management
    and Budget, in compliance with the Paperwork Reduction Act. Their use is required,
    although a community may prepare alternative language, subject to approval by FEMA.
  </p>
</section>

<section id="231a-2" aria-labelledby="231a-2-title">
  <h3 id="231a-2-title" class="h5">Checklists</h3>
  <p>
    The CRS has developed checklists to help the CRS Coordinator or other local officials assemble all
    documentation needed to verify credit. Use of these is voluntary, but they do help both the local
    official and the Contractor reviewers ensure that all needed materials are being provided.
  </p>
  <p>
    Checklists are not official FEMA publications and they may change over time. They are noted in the
    “Documentation Provided by the Community” sections and can be downloaded from <a href="www.crsresources.org">www.crsresources.org</a>.
  </p>
  </section>

<section id="231a-3" aria-labelledby="231a-3-title">
  <h3 id="231a-3-title" class="h5">Examples</h3>
  <p>
    Many communities use the “Coordinator’s Manual” to identify new floodplain management activities
    that they could be doing. These communities request guidance on how to implement the new
    programs. Accordingly, there are many examples provided in the “Coordinator’s Manual.” Cases in
    point are the example map information log and map information letter in Figures 320-1 and Figure
    320-2. Communities are not required to use these examples. If they are used, communities are
    encouraged to tailor them to local conditions and circumstances.
  </p>
  <p>
    Examples are not official FEMA publications and may change over time. All of the examples in the
    “Coordinator’s Manual” can be found at <a href="www.crsresources.org">www.crsresources.org</a> in Microsoft Word® or Excel®. The
    website(s) also has examples that have been or are being used by CRS communities.
  </p>
</section>
</section>

<section id="231b" aria-labelledby="231b-title">
  <h2 id="231b-title" class="h4">231.b. Digital Documentation</h2>
  <p>
    Communities are encouraged to provide documentation in digital form. This can greatly reduce the
    paper files maintained by the community and the amount of paper documentation provided to the
    Contractor for the community’s verification.
  </p>

  <p>There are two primary ways to provide digital documentation:</p>

  <ol class="paren-numlist">
    <li>
      Ordinances, codes, regulations, plans, and other documents may be available on the
      community’s website. In this case, the only documentation required is the Universal Record
      Locator (URL) for the document and a note that states where within that document the specific
      language is located. For example, if a community has its floodplain management ordinance on its
      website and wants credit for freeboard for new buildings in the floodplain, it would provide the
      Contractor with the URL for the ordinance and identify the section(s) of the ordinance containing
      the freeboard requirement(s).
    </li>
    <li>
      In other cases, the community may have a document in digital form but not on its website. In that
      case, the document can be provided to the Contractor on a USB drive, a compact disk (CD), via e-mail,
      or by posting it on a File Transfer Protocol (FTP) site. Again, there must be a note that
      explains where the appropriate language is within the digital document, and the document must
      be searchable.
    </li>
  </ol>

  <p>
    Digital documents not directly viewable on a website must be provided in common file formats.
    Acceptable file types include PDFs, normal graphic formats (jpg, gif, png, etc.), and those viewable in
    Microsoft Word and Excel. Files that require other software, such as GIS files, cannot be used.
    Therefore, due to map scales and viewing limitations, hard-copy maps may still be necessary.
  </p>
</section>

<section id="231c" aria-labelledby="231c-title">
  <h2 id="231c-title" class="h4">231.c. Ordinances</h2>
  <p>Ordinances, by-laws, and regulations are documented as follows.</p>

  <ol class="paren-numlist">
    <li>
      The regulatory language must have the force of law and be in a document adopted by the
      community’s governing body.
    </li>
    <li>
      The language must clearly explain what is required. The following are not acceptable:
      <ul>
        <li>Statements of purpose and other discussions that are not specific regulatory requirements;</li>
        <li>Plans and other documents that do not have final regulatory authority over development; and</li>
        <li>
          Language that does not have a clear and consistent requirement, such as “to the extent
          practical,” “unless exempted by the City Engineer,” or “the building official may require.”
        </li>
      </ul>
    </li>
    <li>
      In addition to the regulatory language submitted for credit, the submittal needs to include related
      sections on enforcement, such as where the regulation applies and any exemptions that may be
      allowed.
    </li>
    <li>
      If the legal authority for the regulatory language is not clear, the Contractor may request a letter
      from the community’s legal counsel that confirms that he/she will defend the regulation in court
      should there be a challenge.
    </li>
    <li>
      For CRS credit, the regulatory language must be adopted and in full force at the time of the
      verification visit.
    </li>
    <li>
      Regulations adopted by a county, regional agency, or state that are enforced within the
      community can be credited. Their implementation is verified in the same manner as a
      community regulation and it is expected that the community will assist in that verification.
      See also Section 231.d on state-based credit.
    </li>
    <li>
      A photocopy of the appropriate page(s) of the ordinance is sufficient. It must be marked to show
      where the regulatory provision appears (e.g., with the credit’s acronym in the margin). An
      alternative to a photocopy is a digital copy (see Section 231.b). If a digital copy is submitted,
      the community must identify the specific section number(s) where the qualifying language
      appears.
    </li>
    <li>
      No separate certification of the ordinance copy is needed. The community’s chief executive
      officer’s (CEO’s) certification that the community is implementing the activities (Section
      212.b(4)) is considered certification that the ordinance has been adopted and is being enforced.
    </li>
  </ol>
</section>

<section id="231d" aria-labelledby="231d-title">
  <h2 id="231d-title" class="h4">231.d. State-based Credit</h2>
  <p>
    A community may receive credit for an activity that is implemented by a state or regional agency.
    For example, a state law may require the disclosure of a flood hazard before the sale of real estate.
    “State-based credit” can be provided to the affected communities. “State-based” means that all
    communities in the affected area receive the same credit (minimum credit), as verified by a state
    agency or through the Contractor, but if a community does additional work or has a higher regulatory
    standard in all or part of the affected area, the community can document that it deserves higher
    credit.
  </p>

  <p>
    See a <a href="https://crsresources.org/200-2/">summary of state-based credits</a> published for each state. The publication may include
    credits that are automatic for all communities (such as a state-enforced statute on real estate
    disclosure) or credits that need additional materials to document that the activity is being
    implemented in the community (such as a state-required freeboard—the Contractor would still need
    copies of Elevation Certificates to verify that it is being enforced locally).
  </p>

  <p>
    In some cases, the Contractor can work with the state or regional agency to collect the needed
    documentation. In others, it is expected that the community will obtain the additional documentation
    that may be needed.
  </p>
</section>

<section id="231e" aria-labelledby="231e-title">
  <h2 id="231e-title" class="h4">231.e. Maps</h2>
  <p>
    Several activities require a map as documentation and many activities need impact adjustment
    maps. Maps must meet the following criteria:
  </p>

  <ol class="paren-numlist">
    <li>
      They need to be drawn or printed to scale, have a “north” arrow, and include a legend.
    </li>
    <li>
      Areas affected by an activity or element need to be clearly labeled. The element’s acronym is
      acceptable labeling.
    </li>
    <li>
      Digital maps are encouraged, but they must be in a common graphic format (pdf, jpg, gif, etc.).
      Files that require other software, such as GIS files, cannot be used.
    </li>
  </ol>
</section>