

<section id="231a" aria-labelledby="231a-title">
  <h2 id="231a-title" class="h4">231.a. Certifications, Checklists, and Examples</h2>

  <!-- TODO: add content for 231a -->
</section>

<section id="231b" aria-labelledby="231b-title">
  <h2 id="231b-title" class="h4">231.b. Digital Documentation</h2>

  <!-- TODO: add content for 231b -->
</section>

<section id="231c" aria-labelledby="231c-title">
  <h2 id="231c-title" class="h4">231.c. Ordinances</h2>

  <!-- TODO: add content for 231c -->
</section>

<section id="231d" aria-labelledby="231d-title">
  <h2 id="231d-title" class="h4">231.d. State-based Credit</h2>

  <!-- TODO: add content for 231d -->
</section>

<section id="231e" aria-labelledby="231e-title">
  <h2 id="231e-title" class="h4">231.e. Maps</h2>

  <!-- TODO: add content for 231e -->
</section>