
<section id="232a" aria-labelledby="232a-title">
  <h2 id="232a-title" class="h4">232.a. Visit Scheduling</h2>
  <p>
    After the application review concludes that the community could receive at least a Class 9
    classification and approval has been received from the FEMA Regional Office, the Contractor
    schedules a verification visit with the community. After a date is agreed upon, the Contractor sends
    correspondence confirming the date and describing what will happen during the visit. If a community
    is unable to participate in the verification visit, it will remain a Class 10.
  </p>

  <p>
    Visits can also be conducted when FEMA learns of problems in a community that shed doubt on
    whether it is fully implementing its activities. For example, if there was a flood and it appeared that
    flood warnings were not disseminated or there are a large number of new “submit for rating” flood
    insurance policies on buildings that do not appear to be properly elevated.
  </p>

  <p>
    Visits may also be conducted to verify a modification that will change the community’s class (see
    Section 214).
  </p>
</section>

<section id="232b" aria-labelledby="232b-title">
  <h2 id="232b-title" class="h4">232.b. Cycle Scheduling</h2>
  <p>
    A community keeps its classification for three or five years after its effective date. Cycle verifications
    are conducted every five years after the original application date for most CRS communities.
    Communities with larger total premium discounts and/or better classes may be visited on a three-
    year cycle.
  </p>

  <p>
    The year before its classification lapses, the Contractor will contact the community to schedule a
    cycle verification visit. Cooperation by the community in scheduling and conducting the visit is vital in
    order to process the cycle verification in time.
  </p>

  <p>
    The cycle verification is based on the version of the Coordinator’s Manual currently in effect, not
    the one used for the original application or the last cycle visit.
  </p>
  <p>
    The cycle verification visit may be scheduled before or after the three- or five-year cycle. Some
    reasons for variation from this cycle include:
  </p>
  
  <ul>
    <li>If the community has a new CRS Coordinator,</li>
    <li>If there has been a major flood or other disaster,</li>
    <li>When there is reason to believe that the community is no longer implementing all of its credited activities, and
    </li>
    <li>If time and costs can be substantially saved by combining the cycle verification visit with visits to neighboring
      communities.</li>
  </ul>
</section>

<section id="232c" aria-labelledby="232c-title">
  <h2 id="232c-title" class="h4">232.c. Conduct of Verification Visit</h2>
  <p>
    A verification visit involves a detailed review of all credited activities and may be a multi-day event.
    More time is spent with the communities that have very large flood insurance premium discounts or
    large numbers of credited activities. Representatives from the FEMA Regional Office and/or the
    State NFIP Coordinator’s office may also attend the verification visit.
  </p>

  <p>
    During the visit, the Contractor reviews changes in the <em>Coordinator’s Manual</em> since the last visit.
    The community’s activities and the class prerequisites are reviewed and documented. New activities
    and elements are explained and may be verified.
  </p>

  <p>
    The CRS Coordinator needs to be present for the entire visit. The CRS Coordinator and the Contractor
    can agree on a schedule that minimizes the amount of time that other community staff need to be
    present.
  </p>

<section id="232c-1" aria-labelledby="232c-1-title">
  <h3 id="232c-1-title" class="h5">Preparation</h3>
  <p>
    The documentation that is needed for the verification visit is listed in the “Documentation Provided
    by the Community” section for each element or activity. The Contractor will send a list of typical
    documentation with the meeting confirmation letter. Other documentation is collected during the
    visit and either reviewed then or taken by the Contractor to review later.
  </p>

  <p>
    Also, before the visit, the Contractor will request copies of all Construction Certificates (required for
    Activity 310 credit) collected since the last visit and other documentation that needs to be reviewed
    before the visit. These are reviewed before the visit and the findings are discussed at the visit.
    Other documentation is collected during the visit and either reviewed then or taken by the Contractor
    to review later.
  </p>
</section>

<section id="232c-2" aria-labelledby="232c-2-title">
  <h3 id="232c-2-title" class="h5">Office Review</h3>
  <p>
    The Contractor will discuss office procedures and similar topics with the appropriate staff. Samples
    of records, such as permits, map information logs, and inspection papers are reviewed.
  </p>

  <p>
    If the required documentation is missing or otherwise deficient, credit cannot be verified for that
    element. However, the community will be allowed time after the visit to assemble other material
    necessary to verify the activities for which credit was requested.
  </p>
</section>

<section id="232c-3" aria-labelledby="232c-3-title">
  <h3 id="232c-3-title" class="h5">New Activities</h3>
  <p>
    A community can receive credit for any activity that is verified at the visit, even if it was not included
    with the application or the activity was not implemented at the time of the last visit, provided that the
    credit criteria and documentation requirements are met.
  </p>

  <p>
    Credit cannot be provided for activities that were started after the verification visit. For example,
    credit is not provided for an ordinance provision that was not adopted or officially approved by the
    local governing body before the verification visit.
  </p>
</section>

<section id="232c-4" aria-labelledby="232c-4-title">
  <h3 id="232c-4-title" class="h5">Field Verification</h3>
  <p>
    For some elements, the Contractor verifies credit in the field. The CRS Coordinator and/or other
    community staff members are encouraged to accompany the Contractor on the field verification.
    What might look like a problem to the Contractor may be easy to explain by someone familiar with
    the situation.
  </p>
</section>

<section id="232c-5" aria-labelledby="232c-5-title">
  <h3 id="232c-5-title" class="h5">Exit Interview</h3>
  <p>
    When the visit is completed, the Contractor will offer to speak to the CEO, or the highest ranking
    person available, to discuss the results, the approximate points, the community’s expected CRS
    Class, and the need to keep implementing the credited activities. It is recommended that the CRS
    Coordinator take advantage of this opportunity to brief his or her superiors on the program.
  </p>

  <p>
    The community’s CEO is asked to certify the community’s verified program by signing the Community
    Certification CC-230. If the CEO cannot sign the CC-230 during the visit, a signed copy must be
    submitted to the Contractor within 30 days of the visit. An example of a completed CC-230 is in
    Figure 230-1.
  </p>
</section>
</section>

<section id="232d" aria-labelledby="232d-title">
  <h2 id="232d-title" class="h4">232.d. Verification Thresholds</h2>
  <p>
    If the visit reveals that any credited activities are not being fully implemented, then the credit points
    are adjusted.
  </p>

  <p>
    If the Contractor finds that implementation of an element has fallen below a certain threshold, credit
    is not provided for that element. Activities vital to good floodplain management and for National
    Flood Insurance Program compliance have higher thresholds. The thresholds are:
  </p>

  <ul>
    <li>Floodplain and stormwater management regulations in the 400 series: 80%;</li>
    <li>All others: 50%.</li>
    <li>
      <div class="card mt-2">
        <div class="card-header">
          Example 232.d-1
        </div>
        <div class="card-body">
          <p>
            In an office review of inspection records to verify channel debris removal (CDR) under Activity 540
            (Drainage System Maintenance), the Contractor finds that 72% of the sites appear to be
            inspected annually, but 28% are not. The community’s verified credit will be 72% of the credit for
            the element. If fewer than 50% of the sites had been properly maintained, the community would
            have received no credit for CDR.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="card mt-2">
        <div class="card-header">
          Example 232.d-2.
        </div>
        <div class="card-body">
          <p>
            The Contractor reviews a number of Elevation Certificates to verify freeboard and finds that only
            72% of them show the building elevated to or above the freeboard level. Because the results are
            below the 80% threshold for floodplain management regulations in the 400 series, the
            community will receive no credit for freeboard.
          </p>
        </div>
      </div>
    </li>
  </ul>
  <p>
    Credit for any element is prorated if the sampling finds instances in which the element is not fully
    implemented. It does not matter why it is not fully implemented. For example, if the lack of freeboard
    in the previous example was due to legally-issued variances, the credit is still prorated (or denied if
    the verification threshold is not met).
  </p>
</section>