

<section id="232a" aria-labelledby="232a-title">
  <h2 id="232a-title" class="h4">232.a. Visit Scheduling</h2>

  <!-- TODO: add content for 232a -->
</section>

<section id="232b" aria-labelledby="232b-title">
  <h2 id="232b-title" class="h4">232.b. Cycle Scheduling</h2>

  <!-- TODO: add content for 232b -->
</section>

<section id="232c" aria-labelledby="232c-title">
  <h2 id="232c-title" class="h4">232.c. Conduct of Verification Visit</h2>

  <!-- TODO: add content for 232c -->
</section>

<section id="232d" aria-labelledby="232d-title">
  <h2 id="232d-title" class="h4">232.d. Verification Thresholds</h2>

  <!-- TODO: add content for 232d -->
</section>