<section id="233-1" aria-labelledby="233-1-title">
  <h2 id="233-1-title" class="h4">Technical Reviews</h2>
  <p>
    For some activities, the verification reviews are performed by Technical Reviewers other than the Contractor. For example, the documentation for Activities 410 (Flood Hazard Mapping) and 450 (Stormwater Management) are sent to engineers for review.
  </p>
  <p>
    Technical review activities may have separate checklists for the community’s CRS Coordinator to give to the staff person responsible for that activity.
  </p>
</section>

<section id="233-2" aria-labelledby="233-2-title">
  <h2 id="233-2-title" class="h4">Verification Review</h2>
  <p>
    Once the Contractor has all the materials from the community and the technical review findings, the community file is sent to a senior member of the Contractor team for a second review. Technical reviews may get a second review from another Technical Reviewer at this time as well.
  </p>
  <figure id="230-1f">
    <img src="/images/{{ manual.slug }}/230-1.webp" class="img-fluid" title="Figure 230-1. An example of a completed verification cover page (CC-230)." alt="Figure 230-1. An example of a completed verification cover page (CC-230)." width="1491" height="1995">
    <figcaption>
      Figure 230-1. An example of a completed verification cover page (CC-230).
    </figcaption>
  </figure>
  <p>
    When the senior reviewer confirms all credits for the community are correct, the Contractor prepares a verification report. This report summarizes the findings, the status of class prerequisites, and the points for each activity. The report is then sent to the community with a note that it is a draft and still subject to FEMA approval. The community should be aware that the verification report may be revised later.
  </p>
  <p>
    Once all credits and the appropriate classification are confirmed, the information is given to FEMA. This is done twice per year. FEMA reviews the recommendations and sends the community the official notice of its verified CRS classification and a copy of the final verification report.
  </p>
</section>

<section id="233-3" aria-labelledby="233-3-title">
  <h2 id="233-3-title" class="h4">Reconsideration</h2>
  <p>If the community believes that something was missed or misinterpreted during the verification visit, it may request a reconsideration of its classification. A request for reconsideration must be submitted to the FEMA Regional Office, Attn: Director, Mitigation Division, within 30 days of receipt of the final verification report from FEMA.</p>
  <p>A request for reconsideration must be based upon the activities reviewed at the verification visit. The request must include a description of how the community would credit the activity and must reference the sections of the “Coordinator’s Manual” that support the community’s position. A request to change a community’s credit points that does not contain sufficient points to change its classification will not be granted.</p>
  <p>The 30-day deadline ensures that the classification is determined as quickly as possible. FEMA will review requests for reconsideration and discuss them with the Contractor. A meeting may be held, depending upon the need for additional communication. FEMA will provide a written response to the community.</p>
  <p>Reconsideration does not include activities implemented after the verification visit or if the Contractor was not made aware of them at the visit. Such activities may be included as a</p>
  <p>modification in a succeeding year. If the community feels that there is an error that does not result in a change in classification, it should include its evidence with its next recertification. Corrections will be made during the next verification visit.</p>
</section>

<section id="233-4" aria-labelledby="233-4-title">
  <h2 id="233-4-title" class="h4">Recertification</h2>
  <p>A community must recertify each year that it is continuing to meet the prerequisites for its class and continuing to implement the activities for which it has earned credit. Recertification is discussed in Section 213.</p>
</section>