<p>
  The objective of this tool is to help communities better understand the risks and benefits inherent in
  their floodplains. This information will help communities identify which Community Rating System
  activities would most benefit them.
</p>

<p>
  There are many ways to reduce flood losses and protect natural floodplain functions, so it can be
  difficult for communities to know where to begin. An ideal first step for many communities may be to
  do a detailed and thorough analysis of their flood risks and natural floodplain functions as part of
  creating a comprehensive floodplain management plan (see Activity 510).
</p>

<p>
  Other communities, though, may not have the immediate option of such an involved process. The
  Community Self-Assessment is designed to be a quick and simple way for communities to:
</p>

<ol class="paren-numlist">
  <li>Gain a basic understanding of their floodplains; and</li>
  <li>Determine where to best direct their efforts to most effectively reduce their flood exposure.</li>
</ol>

<p>
  It should be especially helpful for new staff and communities new to the CRS program. It does <strong>not</strong>
  replace the benefits of preparing a more comprehensive floodplain management plan, but it may be
  a useful early component of that process.
</p>

<p>
  The Community Self-Assessment is available online at
  <a href="https://www.CRSresources.org/200" target="_blank">www.CRSresources.org/200</a>.
  To complete it, communities work their way through five steps:
</p>

<ol class="list-unstyled">
  <li>
    <strong>Step 1: Take an inventory of the floodplain.</strong>
    This step asks a series of questions designed to help a community look at its flood risk holistically.
    It includes questions about what structures are in the floodplain and what natural functions the
    local floodplain offers.
  </li>
  <li class="mt-2">
    <strong>Step 2: Describe and map the hazards.</strong>
    This step walks communities through the process, hazard by hazard, of creating a map of the flood
    exposure and natural floodplain functions.
  </li>
  <li class="mt-2">
    <strong>Step 3: Identify specific flood problem areas.</strong>
    <p>
      Here, the community uses the map it created in Step 2 to outline specific areas where it may want to reduce flood risk and/or protect natural functions. An example is in Figure 240-1.
    </p>
    <figure>
      <img src="/images/{{ manual.slug }}/240-1.webp" class="img-fluid"
        title="Figure 240-1. An example of a flood problem area map."
        alt="Figure 240-1. An example of a flood problem area map." width="300" height="223">
      <figcaption>
        Figure 240-1. An example of a flood problem area map.
      </figcaption>
    </figure>
  </li>
  <li>
    <strong>Step 4: Analyze flood problem areas.</strong> In this step, the community analyzes each flood problem area to determine its resources and assets.
  </li>
  <li>
    <strong>Step 5: Assess hazards, exposures, and activities.</strong> In this final step, the community returns to a broader, community-wide focus to characterize its floodplain, assess its challenges, and explore possible means of reducing its flood risk.
  </li>
</ol>
<p>
  The Community Self-Assessment is designed to take a person less than a day to complete. The
  amount of time required will depend on a number factors, including the size of the community, the
  types and scope of its flood risks, the familiarity of the person completing the assessment with the
  community’s problems and assets, and the general availability of information. However, communities
  are encouraged to complete the five steps at whatever pace they wish.
</p>
<aside class="bg--primary-light p-3">
  <h2 class="h6">Community Self-Assessment.</h2>
  <p>
    The Community Self-Assessment is intended to help communities step back, and take a big- picture look at the benefits and risks offered by their floodplain. Although the site may make suggestions on ways that communities can reduce their flood exposure, the recommendations are designed to provoke thought and do not replace the need for a more thorough analysis.
  </p>
</aside>
<p>
  The Self-Assessment is voluntary and not a credited activity. However, some activities and elements
  require an assessment be conducted for certain credit. If there is no more detailed assessment,
  such as in a floodplain management plan or other document, the Community Self-Assessment will
  satisfy this requirement for:
</p>

<ul>
  <li>Developing a Program for Public Information (PPI) under Activity 330 (Outreach Projects),</li>
  <li>The flood insurance coverage assessment (FIA) under Activity 370 (Flood Insurance Promotion), and</li>
  <li>The documentation to meet the credit criteria for Activities 610 (Flood Warning and Response), 620 (Levees), and
    630 (Dams).</li>
</ul>

<p>
  The Self-Assessment can also help with the hazard and problem assessments (steps 4 and 5) when
  developing a floodplain management plan, credited under Activity 510.
</p>
