<h1 id="100-title">100 Introduction</h1>

<p>
  This series presents an overview of the purpose, goals, and contextual background of the Community Rating System (CRS), the benefits of the program, and the community’s role and responsibilities. The activities that are credited under the CRS are listed here, along with the points that may be obtained for each activity and a description of how those points are translated into CRS classifications and premium reductions. The last part of this series (Section 120) is a glossary of terms used throughout the ”Coordinator’s Manual.”
</p>


{% render "components/nav.liquid",
  nodes: nodes,
  mode: "series",
  root: node.group,
  options: {
    list_kind: "dl",
    show_depth: 3,
    fileSinglesUnderGroup: true
  }
%}