<section id="111" aria-labelledby="111-title">
  <h2 id="111-title" class="h3">111 Background</h2>
  <p>The National Flood Insurance Program (NFIP) provides federally backed flood insurance within communities that enact and enforce floodplain regulations. Since its inception in 1968, the NFIP has been very successful in helping flood victims get back on their feet. As of Jan. 31, 2025, there were 4.7 million residential and commercial policies in force, with $1.29 trillion in written coverage with annual premiums of about $5.3 billion. From 1978 through January 2025, more than 1.96 million losses were paid, totaling over $86.2 billion.</p>
  <p>To be covered by a flood insurance policy (for the structure and/or its contents), a property must be in a community that participates in the NFIP. To qualify for the NFIP, a community adopts and enforces a floodplain management ordinance to regulate development in flood hazard areas. The objective of the ordinance is to minimize the potential for flood damage to future development. Today, over 22,200 communities in 56 states and territories participate in the NFIP.</p>
  <p>The NFIP has been effective in requiring new buildings to be protected from damage by a 1% chance flood, also known as the 100-year or base flood. However, flood damage still results from floods that exceed the base flood, from flooding in unmapped areas, and from flooding that affects buildings constructed before the community joined the NFIP.</p>
  <p>Under the Community Rating System (CRS), communities can be rewarded for doing more than simply regulating construction of new buildings to the minimum national standards. Under the program, the flood insurance premiums of a community’s residents and businesses are discounted to reflect that community’s work to reduce flood damage to existing buildings, manage development in areas not mapped by the NFIP, protect new buildings beyond the minimum NFIP protection level, preserve and/or restore natural functions of floodplains, help insurance agents obtain flood data, and help people obtain flood insurance.</p>
</section>

<section id="112" aria-labelledby="112-title">
  <h2 id="112-title" class="h3">112 Goals</h2>
  <p>The goals of the NFIP are to provide flood insurance to property owners, to encourage flood loss reduction activities by communities, and to save taxpayers’ money. As a part of the NFIP, the Community Rating System provides both incentives and tools to further these goals.</p>
  <p>The CRS recognizes, encourages, and rewards—by the use of flood insurance premium adjustments— community and state activities that go beyond the minimum required by the NFIP to</p>
  <ul>
    <li>Reduce and avoid flood damage to insurable property,</li>
    <li>Strengthen and support the insurance aspects of the NFIP, and</li>
    <li>Foster comprehensive floodplain management.</li>
  </ul>
  <p>The purpose of the Community Rating System is to support the NFIP. To do this, the CRS provides flood insurance premium rate reductions to policyholders in recognition of the fact that their communities implement activities that exceed the minimum NFIP requirements and that work toward the three goals of the CRS. Included in this support are measures that credit protection to life and property during a flood. A closer look at how communities can implement these three goals follows.</p>

  <section id="112-1" aria-labelledby="112-1-title">
    <h3 id="112-1-title" class="h4">Goal 1. Reduce and avoid flood damage to insurable property.</h3>
    <p>The Community Rating System supports the NFIP by working to minimize flood losses nationwide, both inside and outside of mapped floodplains. Communities are encouraged to reduce the exposure of existing buildings (and their contents) to flood damage, especially properties that are subject to repetitive flood losses. New buildings and their contents should be protected from known and future local flood hazards. Standards higher than those set out in the minimum criteria of the NFIP may be needed to accomplish these tasks. The CRS encourages communities to map and provide regulatory flood data for all their flood hazards. The data should be used in their regulatory programs and shared with all users and inquirers.</p>
  </section>

  <section id="112-2" aria-labelledby="112-2-title">
    <h3 id="112-2-title" class="h4">Goal 2. Strengthen and support the insurance aspects of the NFIP.</h3>
    <p>The program recognizes communities whose activities generate and contribute data that enable accurate actuarial rating of flood insurance. Communities are encouraged to implement mapping and information programs that help assess individual property risk and reduce repetitive flood losses. To help expand the policy base, communities should make their residents aware of their flood risk so that they purchase and maintain flood insurance policies.</p>
  </section>

  <section id="112-3" aria-labelledby="112-3-title">
    <h3 id="112-3-title" class="h4">Goal 3. Foster comprehensive floodplain management.</h3>
    <p>The CRS encourages communities to use all available tools to implement comprehensive local floodplain management programs, which ordinarily have concerns beyond the protection of insurable property. The program recognizes local efforts that protect lives; further public health, safety, and welfare; minimize damage and disruption to infrastructure and critical facilities; preserve and restore the natural functions and resources of floodplains and coastal areas; and ensure that new development does not cause adverse impacts elsewhere in the watershed or on other properties.</p>
    <p>A community’s staff should understand the physical and biological processes that form and alter floodplains and watersheds and take steps to deal with flooding, erosion, habitat loss, water quality, and special flood-related hazards. A comprehensive approach includes planning, public information, regulations, financial support, open space protection, public works activities, emergency management, and other appropriate techniques.</p>
  </section>
</section>

<section id="113" aria-labelledby="113-title">
  <h2 id="113-title" class="h3">113 Credit Points and Credited Activities</h2>
  <p>To be recognized in the insurance rating system, local floodplain management activities must be described, measured, and evaluated by the CRS. The basic document detailing the program is the CRS “Coordinator’s Manual. It sets forth the procedures, creditable activities, and the credit assigned to each activity, and gives examples of activities and how their credit is calculated.</p>

  <section id="113a" aria-labelledby="113a-title">
    <h3 id="113a-title" class="h4">113.a. Credit Points and Classification</h3>
    <p>
      A community receives a CRS classification based upon the total credit for its activities. There are 10 CRS classes. Class 1 requires the most credit and gives the greatest premium reduction or discount. A community that does not apply for the Community Rating System, or does not obtain the minimum number of credits, is a Class 10 community and receives no discount on premiums. The qualifying community total points, CRS classes, and flood insurance premium discounts are shown in Table 110-1.
    </p>
    {% render "content/2017-coordinators-manual/tables/110-1.liquid", manual: manual %}
    <p>The flood insurance premium discount is no longer based on whether a property is in or out of the Special Flood Hazard Area (SFHA). The premium discount for all properties in the community increases according to the community’s classification. A community’s classification is based on the community's total points (symbolized as cT in the calculations) and applicable prerequisites.</p>
  </section>

  <section id="113b" aria-labelledby="113b-title">
    <h3 id="113b-title" class="h4">113.b. Credited Activities</h3>

    <p>There are 19 creditable activities, organized under four categories, which are presented in the 300– 600 series of the “Coordinator’s Manual.” The “Coordinator’s Manual” assigns credit based upon the extent to which an activity advances the three goals of the CRS.</p>

    <section id="113b-1" aria-labelledby="113b-1-title">
      <h4 id="113b-1-title" class="h5">Public Information Activities (300 Series)</h4>
      <p>This series credits programs that advise people about the flood hazard, encourage the purchase of flood insurance, and provide information about ways to reduce flood damage. These activities also generate data needed by insurance agents for accurate flood insurance rating. They generally serve all members of the community.</p>
    </section>

    <section id="113b-2" aria-labelledby="113b-2-title">
      <h4 id="113b-2-title" class="h5">Mapping and Regulations (400 Series)</h4>
      <p>This series credits programs that provide increased protection to new development. These activities include mapping areas not shown on the FIRM, preserving open space, protecting natural floodplain functions, enforcing higher regulatory standards, and managing stormwater. The credit is increased for growing communities.</p>
    </section>

    <section id="113b-3" aria-labelledby="113b-3-title">
      <h4 id="113b-3-title" class="h5">Flood Damage Reduction Activities (500 Series)</h4>
      <p>This series credits programs for areas in which existing development is at risk. Credit is provided for a comprehensive floodplain management plan, relocating or retrofitting flood-prone structures, and maintaining drainage systems.</p>
    </section>

    <section id="113b-4" aria-labelledby="113b-4-title">
      <h4 id="113b-4-title" class="h5">Warning and Response (600 Series)</h4>
      <p>The 19 activities and their credit points are shown in Table 110-2. Each activity has one or more elements. Elements are the basic credit level for the program. The element and activity scoring process are covered in Activity 220 (Credit Calculation).</p>
    </section>
  </section>

  <section id="113c" aria-labelledby="113c-title">
    <h3 id="113c-title" class="h4">113.c. Activity Credit Points</h3>
    <p>The maximum credit points for each activity are shown in the second column. The maximum credit can be earned when all elements within an activity are being implemented and all credit criteria are met. In some activities, maximum credit cannot be provided unless credit has been earned in other activities. For example, additional credit is provided in some activities if the community has adopted a Program for Public Information under Activity 330 (Outreach Projects).</p>
    <p>Communities should note the average credits for these activities. They provide a better indication of what an applicant can expect for an activity than do the maximum points available.</p>
    <p>A community must have at least 500 verified credit points to become a Class 9 or better community. It must also meet the prerequisites for certain classes, as described in Section 211. As explained in Activity 230 (Verification), the final, or verified, credit is calculated by the Contractor after a review of the documentation provided by the community and the community’s implementation of its activities at the verification visit (explained in Section 232).</p>
    <p>The CRS “Quick Check” is a tool that a community can use to assess its potential for receiving credit for activities it is undertaking. The Quick Check can be obtained from the Contractor.</p>
    <p>The Quick Check does not estimate credit for a community. However, by reviewing each element and going through the steps explained in Section 220, a community can assess its potentially creditable activities.</p>
    {% render "content/2017-coordinators-manual/tables/110-2.liquid", nodes: nodes %}
    <p>There are three important things to note when estimating credit:</p>
    <ol>
      <li>Moving to a Class 8, 6, 4, or 1 depends on both having adequate points and meeting class
      prerequisites, as explained in Section 211.</li>
      <li>Many activities have an impact adjustment associated with them. An impact adjustment means
      that credit is provided for the portion of the regulatory floodplain to which the creditable element
      is applied. For example, even though 1,450 maximum points are available for open space
      preservation (OSP), if a community has 20% of the regulatory floodplain as open space, then the
      credit will be 20% of the allowable credit, or 290 points. See Section 222.</li>
      <li>Only the final, verified credit calculated by the Contractor after the verification visit determines a
      community’s total points. It is important that the community provides correct and complete
      materials to document its activities. Only through a review of the community’s documentation
      can the Contractor determine the credit points that should be provided.</li>
    </ol>
    <p>A community should apply only for those activities it is actively undertaking and those it knows it can implement in accordance with the “Coordinator’s Manual.” For example, no credit is provided for draft ordinances—regulations must have been enacted and enforced. Also, a community should not be overly ambitious in undertaking new activities just for CRS credit at the risk of losing the credit later (at annual recertification or cycle verification visits) for activities it is unable to implement or continue.</p>
  </section>

  <section id="113d" aria-labelledby="113d-title">
    <h3 id="113d-title" class="h4">113.d. Activities Not Listed</h3>
    <p>Community Rating System activities are not design standards for local floodplain management. The “Coordinator’s Manual” is an insurance tool that describes methods of calculating credit points for various community activities. The fact that the “Coordinator’s Manual” does not list a specific credit for some activities does not mean that they should not be implemented by communities that need them.</p>
    <p>An activity may deserve credit even if the “Coordinator’s Manual” does not include it. The “Coordinator’s Manual” cannot predict or list everything that can be done to support the goals of the CRS. Communities are always welcome to request credit for alternate approaches or innovations that are not included in the “Coordinator’s Manual.” Similarly, communities can submit alternative approaches to the class prerequisites listed in Section 211.</p>
    <p>Requests should be submitted to the Contractor and should include documentation to support how the alternative approach or innovation meets the intent of, or is equivalent to, the prerequisite or the element and/or activity credited in the “Coordinator’s Manual.”</p>
    <aside class="bg-highlight p-3">
      <h3 class="h6">Activities not directly recognized by the Community Rating System</h3>
      <p>Note that some activities are not directly recognized by the program for one of three reasons:</p>
      <ul>
        <li>They do not directly affect buildings that can be insured under the NFIP (e.g., uninsurable
        items such as streets and land value);</li>
        <li>They are recognized by other aspects of the flood insurance rating program (e.g., flood
        control projects that result in revised FIRMs reduce flood insurance premiums in protected
        areas); or</li>
        <li>The impact of an activity cannot be measured (e.g., preserving floodplains for aesthetic
        reasons).</li>
      </ul>
    </aside>
    <p>Credit criteria may change over time as experience is gained in implementing, observing, and measuring the activities and as new concepts in floodplain management come into common practice. As innovations arise, they will be considered for recognition.</p>
  </section>
</section>

<section id="114" aria-labelledby="114-title">
  <h2 id="114-title" class="h3">114 The Community’s Role</h2>

  <section id="114a" aria-labelledby="114a-title">
    <h3 id="114a-title" class="h4">114.a. Community Participation</h3>
    <p>Community participation in the CRS is voluntary. Any community in full compliance with the rules and regulations of the NFIP may apply for a classification better than Class 10. A community may apply to participate in the Community Rating System at any time.</p>
    <p>The application procedures are simple: the community submits a letter of interest and shows that it is implementing activities that would receive at least 500 credit points. The documents go to the Contractor for that community. The Regional Office of the Federal Emergency Management Agency (FEMA) must approve the submittal to ensure that the community is in full compliance with the minimum floodplain management criteria of the NFIP. See also Section 212.</p>
    <p>Upon receiving FEMA approval, a community verification visit is scheduled by the Contractor. At this verification visit, the Contractor reviews all of the community’s activities that may deserve credit, even those not in the community’s submittal. All credit is verified according to the credit criteria in the “Coordinator’s Manual” in effect at the time of the visit. The verification process is discussed in Activity 230.</p>
    <p>After the verification visit, the Contractor submits its findings to FEMA. FEMA sets the credit to be granted and notifies the community, the state, insurance companies, and other appropriate parties. The classification is effective on either April 1 or October 1, whichever comes first, after the community’s activities are verified.</p>
    <p>Each year the community must recertify that it is continuing to perform the activities for which it is receiving credit. Recertification is an annual activity that includes progress reports for certain activities (see Section 213). A “cycle verification visit” takes place every few years and is conducted in the form of another verification visit to the community (see Section 232).</p>
    <p>If a community is not properly or fully implementing the credited activities, its credit points, and possibly its classification, will be revised. A community may add credited activities in order to improve its classification. This is called a modification and is explained in Section 214.</p>
    <p>Communities are encouraged to call on their Contractor for assistance at any time. This can be especially helpful when they are considering a change to a credited activity or implementing a new program.</p>
    <p>A week-long course for local officials on the Community Rating System is offered free at FEMA’s Emergency Management Institute and has been field-deployed to many states. The Contractor, NFIP State Coordinator, and FEMA Regional Office have more information on this course, state workshops, and other training opportunities.</p>
  </section>

  <section id="114b" aria-labelledby="114b-title">
    <h3 id="114b-title" class="h4">114.b. Community Responsibilities</h3>
    <p>Once a community receives its initial classification in the program it must continue to implement its credited activities to keep its classification. Specifically, a community is responsible for</p>
    <ul>
      <li>Designating a community CRS Coordinator—someone who is familiar with the community offices
      that implement creditable activities;</li>
      <li>Cooperating with the Contractor and the verification procedures (Section 230);</li>
      <li>Recertifying each year that it is continuing to implement its activities (Section 213);</li>
      <li>Advising FEMA and its Contractor of modifications to its activities (Section 214);</li>
      <li>Keeping elevation certificates, construction certificates, old FIRMs, and old Flood Insurance
      Studies for as long as the community is in the program;</li>
      <li>Keeping the records iterated in the activities’ documentation sections until they are reviewed at
      the verification visit;</li>
      <li>Ensuring that flood protection projects and drainage system maintenance activities are
      compliant with federal environmental and historic preservation requirements (Section 507); and</li>
      <li>Participating in the cycle verification process (Section 232).</li>
    </ul>
    <p>Communities will receive periodic updates to the “Coordinator’s Manual” and other CRS materials. They are encouraged to order the background publications (see Appendix C), attend CRS workshops, and ask their Contractors for help understanding the CRS credit criteria for their current and planned activities.</p>
  </section>
</section>

<section id="115" aria-labelledby="115-title">
  <h2 id="115-title" class="h3">115 Costs and Benefits</h2>
  <p>Communities should prepare and implement those activities which best deal with their local problems, whether or not they are creditable under the CRS. Few, if any, of the program activities will produce premium reductions equal to or greater than the cost of their implementation. In considering whether to undertake a new floodplain management activity, a community must consider all of the benefits the activity will provide to the community (not just insurance premium reductions) in order to determine whether it is worth implementing.</p>

  <section id="115a" aria-labelledby="115a-title">
    <h3 id="115a-title" class="h4">115.a. Costs</h3>
    <p>No fee is charged for a community to apply for participation in the Community Rating System. The only costs the community incurs are those of implementing creditable floodplain management activities and the staff time needed to document those activities and prepare for and participate in the recertification process and verification visits.</p>
  </section>

  <section id="115b" aria-labelledby="115b-title">
    <h3 id="115b-title" class="h4">115.b. Benefits</h3>
    <p>There are many benefits to participating in the CRS. Most of them cannot be measured in direct dollar terms, so it is impossible to conduct a strict numerical comparison of the benefits with the costs of implementing the credited activities. Listed here are the benefits more commonly mentioned by community officials.</p>
    <ol>
      <li>The benefit that attracts people to the program the most is the reduction in flood insurance
      premiums for their residents and businesses. The dollar savings varies according to the
      community’s classification, the number of policies, and the amount of coverage.</li>
      <li>Although the premium reduction attracts interest in the program, the most important benefits are
      the enhanced public safety, reduction in damage to property and public infrastructure, avoidance
      of economic disruption and losses, reduction in human suffering, and protection of the
      environment provided by the credited activities. Community officials agree that these programs
      are improved when changes are made to meet the credit criteria.</li>
      <li>Through the CRS a community can evaluate the effectiveness of its flood program against state
      and nationally recognized benchmarks.</li>
      <li>Training and technical assistance in designing and implementing credited flood protection
      activities are available through the Contractor at no charge.</li>
      <li>Many communities initiate new public information activities when they join the CRS. These build
      a knowledgeable constituency within the community—people who become more interested in
      protecting themselves from flooding and in supporting the community’s floodplain management
      efforts.</li>
      <li>Keeping its credits has proven to be an effective motivator to continue implementing flood
      protection programs during the “dry years.” The fact that the community’s status could be
      affected by the elimination of a flood-related activity or a weakening of the regulatory requirements for new development has been taken into account by many governing boards when
      considering such actions.</li>
      <li>There is mutual support among CRS participants. Communities that participate in the program
      are joining the ranks of localities that have demonstrated a serious commitment to the health,
      safety, and welfare of their residents—and their floodplain and coastal resources. Across the
      nation, “CRS users groups” of representatives of counties, communities, and regional entities
      have formed to share their experiences, support each other in advancing their floodplain
      management programs, and encourage other communities to participate in the program.</li>
    </ol>
  </section>
</section>

<section id="116" aria-labelledby="116-title">
  <h2 id="116-title" class="h3">116 Other Program Priorities</h2>

  <section id="116a" aria-labelledby="116a-title">
    <h3 id="116a-title" class="h4">116.a. Natural Floodplain Functions and Threatened and Endangered Species</h3>
    <p>Floodplains in riverine and coastal areas perform natural functions that cannot be replicated elsewhere. The Community Rating System provides special credit for community activities that protect and/or restore natural floodplain functions, even though some of the activities may not directly reduce flood losses to insurable buildings. There are many reasons to protect floodplains in their natural state.</p>
    <p>When kept open and free of development, floodplains provide the necessary floodwater conveyance and storage needed by a river or coastal system. When a floodplain is allowed to perform its natural function, flood velocities and peak flows are reduced downstream. Natural floodplains reduce wind and wave impacts and their vegetation stabilizes soils during flooding.</p>
    <p>Floodplains in their natural state provide many beneficial functions beyond flood reduction. Water quality is improved in areas where natural cover acts as a filter for runoff and overbank flows; sediment loads and impurities are also minimized. Natural floodplains moderate water temperature, reducing the possibility of adverse impacts on aquatic plants and animals.</p>
    <p>Floodplains can act as recharge areas for groundwater and reduce the frequency and duration of low flows of surface water. Floodplains and coastal areas provide habitat—especially breeding and feeding areas—for diverse species of flora and fauna, some of which cannot live anywhere else, and some of which have been identified as needing special protection because their numbers are dwindling. Ways in which the CRS supports the protection of threatened and endangered species and their critical habitat are discussed at the end of this subsection.</p>
    <h4 class="h6">Credit for Protecting Natural Floodplain Functions</h4>
    <p>The CRS encourages state, local and private programs and projects that preserve or restore the natural state of floodplains and protect these functions. The program also encourages communities to coordinate their flood loss reduction programs with other public and private activities that preserve and protect natural and beneficial floodplain functions. Credits for doing this are found in the following activities:</p>
    <ul>
      <li>Activity 320 (Map Information Service)-Credits advising people about areas that should be protected because of their natural floodplain functions.</li>
      <li>Activity 330 (Outreach Projects)-Credit is provided for outreach projects that include descriptions of the natural functions of the community’s floodplains.</li>
      <li>Activity 350 (Flood Protection Information)-Credit points are available for a website that provides detailed information about local areas that should be protected for their natural floodplain functions and how they can be protected.</li>
      <li>Activity 420 (Open Space Preservation)-Extra credit is provided for open space areas that are preserved in their natural state; have been restored to a condition approximating their predevelopment natural state; or have been designated as worthy of preservation for their natural benefits, such as being designated in a habitat conservation plan.</li>
      <li>Activity 430 (Higher Regulatory Standards)-Regulations that protect natural areas during development or that protect water quality are credited.</li>
      <li>Activity 440 (Flood Data Maintenance)-Adding layers to the community’s geographic information system (GIS) with natural floodplain functions (e.g., wetlands, designated riparian habitat, flood water storage areas) is credited.</li>
      <li>Activity 450 (Stormwater Management)-Erosion and sediment control, water quality, and lowimpact development techniques minimize the impacts of new development. These measures are credited, along with regulations that require the maintenance of natural flow regimes.</li>
      <li>Activity 510 (Floodplain Management Planning)-Extra credit is provided for plans that address the natural resources of floodplains and recommend ways to protect them.</li>
      <li>Activities 520 (Acquisition and Relocation), 530 (Flood Protection), and 540 (Drainage System Maintenance)-Measures such as capital improvement programs and drainage improvement projects can reduce flood losses. No such programs or projects can be credited unless a thorough environmental review is conducted and documented.</li>
    </ul>
    <p>A community that wants to explore what it can do under the creditable activities listed above could start by preparing a natural functions plan (described and credited under Activity 510 (Floodplain Management Planning)). That will help to identify the existing and desired natural functions and to generate recommendations for how to preserve and increase those functions.</p>
    <h4 class="h6">Credit for Protecting Threatened and Endangered Species</h4>
    <p>As noted in the previous section, floodplains and coastal areas can serve as habitat for many animals and plants. One group of animals and plants deserving special protection are threatened and endangered species. Because of their declining numbers, these species have been listed by the U.S. Fish & Wildlife Service or the National Marine Fisheries Service as needing protection under the provisions of the Endangered Species Act. They “are of esthetic, ecological, educational, historical, recreational, and scientific value to the Nation and its people” (Endangered Species Act of 1973 (16 U.S.C. § 1531 et seq.)). In addition, many states maintain their own lists of species that are considered threatened, endangered, or “of concern.”</p>
    <p>More and more, floodplain managers are recognizing the close relationship between protection of flood-prone property and protection of threatened and endangered species. Many good floodplain management practices, such as keeping wetlands, stream banks, and beaches in their undisturbed natural condition, also support the protection of habitats that are essential for the survival of many threatened and endangered species.</p>
    <p>Supporting the conservation and recovery of threatened and endangered species is a worthy goal in itself and is also called for under the Endangered Species Act. Section 7 of the Act gives all federal agencies a responsibility to use their authorities in support of the Act. Many states and communities have made protection of threatened and endangered species one of their own priorities.</p>
    <p>The CRS encourages and credits actions that further the conservation and recovery of threatened and endangered species under the following activities.</p>
    <ul>
      <li>Activity 320 (Map Information Service)-This activity credits providing information about areas that have been designated as critical habitat, can serve as breeding grounds, or otherwise support threatened and endangered species.</li>
      <li>Activity 330 (Outreach Projects)-Outreach projects and programs for public information receive credit for messages on protecting threatened and endangered species that live in the area, such as explaining fishing restrictions or keeping pets on leashes.</li>
      <li>Activity 350 (Flood Protection Information)-Having materials on protecting local species in the local public library and on the community’s website is credited.</li>
      <li>Activity 420 (Open Space Preservation)-Preserving open space in the floodplain helps many species. Bonus credit is provided if the open space is in its natural state, and even more credit if it has been designated as critical habitat for a threatened or endangered species.Other credits that help species include preserving open space on eroding shorelines, offering incentives to developers to keep the floodplain open, zoning flood-prone areas for large lot sizes to preserve low-density uses, and preserving stream banks and shorelines in their natural state.</li>
      <li>Activity 430 (Higher Regulatory Standards)-As an alternative to keeping floodplains open, this activity credits regulations that protect habitat when floodplains are developed. These include prohibiting filling in the floodplain and regulating development in areas subject to coastal erosion (which often are essential areas for many species, such as shore birds and sea turtles).</li>
      <li>Activity 440 (Flood Data Maintenance)-Including maps of the range and habitat for threatened and endangered species in the community’s GIS is credited because it provides important information to GIS users, such as permit officials and highway planners, who need to take protection of these areas into account.</li>
      <li>Activity 450 (Stormwater Management)-Protecting and improving water quality and maintaining more consistent flows over time help many aquatic species and are credited by regulations that require new developments to use low-impact development techniques, require control of the volume of runoff, or develop an overall plan for the watershed that addresses threatened and endangered species.</li>
      <li>Activity 510 (Floodplain Management Planning)-In addition to crediting inclusion of natural floodplain functions in a floodplain management or hazard mitigation plan, this activity has a separate element for plans that address protecting natural floodplain functions and a new credit for preparing and implementing a floodplain species assessment.</li>
      <li>Activities 520 (Acquisition and Relocation) and 530 (Flood Protection)-The prerequisite environmental and historic preservation certification process can identify opportunities for reuse of the sites to support the conservation and recovery of threatened and endangered species.</li>
      <li>Activity 540 (Drainage System Maintenance)-This activity encourages communities to regulate dumping in streams and to develop habitat-friendly approaches to clearing debris in drainageways.</li>
    </ul>
    <p>A community that wants to explore what it can do under these activities could start with reviewing “CRS Credit for Habitat Protection” and preparing a Floodplain Species Assessment, which is credited under Activity 510 (Floodplain Management Planning). More information on these and on protecting threatened and endangered species and habitat in general can be found in Section 514.</p>
  </section>

  <section id="116b" aria-labelledby="116b-title">
    <h3 id="116b-title" class="h4">116.b. All-Hazards Mitigation</h3>
    <p>All communities are threatened by a variety of natural and technological hazards. The staff and programs that address flooding may also be responsible for protecting the community from damage due to earthquakes, hurricanes, landslides, drought, hazardous materials incidents, and terrorism. Similarly, the staff members that work in programs related to other hazards may be implementing activities that could support floodplain management programs. Floodplain management programs are synonymous with flood mitigation programs.</p>
    <p>FEMA supports an all-hazards approach to mitigation, as does the CRS. It makes economic sense that mitigation programs address as many hazards as are appropriate. An all-hazards approach also ensures that staff, programs, construction standards, and public information messages are consistent and mutually supportive.</p>
    <p>The CRS has become an important tool for mitigation as well as a mechanism for integrating mitigation with flood insurance. This is consistent not only with grading systems that have been successfully employed for many years in the insurance industry, but also with industry initiatives for relating insurance premiums to local efforts to reduce losses due to natural hazards. For example, adoption and enforcement of strong building codes as measured by the insurance industry’s Building Code Effectiveness Grading Schedule integrates building code enforcement into the industry’s premium rates.</p>
    <p>The CRS has served as a model for all-hazards, pre-disaster mitigation. Local officials have reported that the CRS was the blueprint for organizing their programs to build a more disaster-resistant community.</p>
    <p>This edition of the “Coordinator’s Manual” highlights many opportunities for expanding a flood-only orientation to address other hazards.</p>
    <ul>
      <li>The 300 series of public information activities credits advising people about the risk of flooding and other hazards and the mitigation measures they can take to protect their property;</li>
      <li>Under Activity 340 (Hazard Disclosure), disclosure of other hazards (DOH) credits advising potential purchasers of property that there may be other hazards that could affect the property, such as erosion, subsidence, or flooding from a dam failure (Section 342.d); </li>
      <li>Section 401 has an overview of the additional credits that are provided for managing seven special flood-related hazards:</li>
      <li>Uncertain flow paths (alluvial fans, moveable bed streams, and other floodplains within which the channel moves during a flood);
        <ul>
          <li>Closed-basin lakes;</li>
          <li>Ice jams;</li>
          <li>Land subsidence;</li>
          <li>Mudflow hazards;</li>
          <li>Coastal erosion; and</li>
          <li>Tsunamis.</li>
        </ul>
      </li>
      <li>Activity 420 (Open Space Preservation) encourages communities to keep hazardous areas open and undeveloped;</li>
      <li>Credit is provided for the International Series of building codes (which have improved protection standards for flooding, wind, and other hazards over previous model codes) in Activity 430 (Higher Regulatory Standards), Section 432.h;</li>
      <li>Activity 430 (Higher Regulatory Standards) also credits extending V-Zone standards for coastal storm surge and wind protection farther inland to include coastal A Zones (Section 432.k);</li>
      <li>In Activity 440 (Flood Data Maintenance), additional credit is provided for showing areas subject to other natural hazards, such as landslides and stream migration in the GIS or database management program;</li>
      <li>Under Activity 450 (Stormwater Management), management of runoff, erosion and sediment control, and water quality and low impact development requirements to minimize the impacts of new development are credited.</li>
      <li>More credit is available for including other hazards in a mitigation plan that qualifies for a floodplain management plan under Activity 510 (Floodplain Management Planning); and </li>
      <li>Local warning and public information activities directed toward storms and tsunamis are credited under the StormReady and TsunamiReady elements in Activity 610 (Flood Warning
      and Response).</li>
    </ul>
  </section>

  <section id="116c" aria-labelledby="116c-title">
    <h3 id="116c-title" class="h4">116.c. Future Development</h3>
    <p>The program recognizes that floodplains and watersheds change over time, driven by many natural and manmade changes. Good floodplain management acknowledges this, and includes thinking about how floodplains might look in the future under different scenarios. Increased impervious surfaces in developing watersheds, new fill in floodways, changes in natural functions, and many other factors contribute to the character of the future for which floodplain managers must prepare.</p>
    <p>The “Coordinator’s Manual” incorporates additional acknowledgement of—and credit for—community efforts to anticipate the future insofar as it relates to flood risk and natural floodplain functions, and to take actions that can mitigate any adverse impacts that could materialize.</p>
    <ul>
      <li>To become a Class 4 or better community, a community must (among other criteria) demonstrate that it has programs that minimize increases in future flooding.</li>
      <li>Credit is provided in Section 412.d when the community’s regulatory map is based on a fully developed watershed.</li>
      <li>Credit is provided in Section 452.a if a community’s stormwater program regulates runoff from future development.</li>
      <li>Credit is provided in Section 452.b for a community whose watershed master plan manages future peak flows so that they do not exceed present values.</li>
      <li>Credit is provided in Section 452.b for a coastal community whose watershed master plan analyzes a 100-year storm with a tailwater equal to the Base Flood Elevation.</li>
      <li>Credit is provided in Section 512.a, Steps 4 and 5, for flood hazard assessment and problem analysis that addresses areas likely to flood and flood problems that are likely to get worse in the future, including (1) changes in floodplain development and demographics, or (2) development in the watershed.</li>
    </ul>
  </section>
</section>