

<section id="502a" aria-labelledby="502a-title">
  <h2 id="502a-title" class="h3">502.a. The Categories</h2>

  <!-- TODO: add content for 502a -->
</section>

<section id="502b" aria-labelledby="502b-title">
  <h2 id="502b-title" class="h3">502.b. Effective Dates</h2>

  <!-- TODO: add content for 502b -->
</section>