{# ← add this #}

<section id="512a" aria-labelledby="512a-title">
  <h2 id="512a-title" class="h4">512.a. Floodplain management planning (FMP)</h2>

  <!-- TODO: add content for 512a -->

<section id="512a-01" aria-labelledby="512a-01-title">
  <h3 id="512a-01-title" class="h5">Credit Points for FMP</h3>

  <!-- TODO: add content for 512a-01 -->
</section>

<section id="512a-02" aria-labelledby="512a-02-title">
  <h3 id="512a-02-title" class="h5">Step 1. Organize to prepare the plan</h3>

  <!-- TODO: add content for 512a-02 -->
</section>

<section id="512a-03" aria-labelledby="512a-03-title">
  <h3 id="512a-03-title" class="h5">Credit Points for FMP Step 1</h3>

  <!-- TODO: add content for 512a-03 -->
</section>

<section id="512a-04" aria-labelledby="512a-04-title">
  <h3 id="512a-04-title" class="h5">Step 2. Involve the public</h3>

  <!-- TODO: add content for 512a-04 -->
</section>

<section id="512a-05" aria-labelledby="512a-05-title">
  <h3 id="512a-05-title" class="h5">Credit Points for FMP Step 2</h3>

  <!-- TODO: add content for 512a-05 -->
</section>

<section id="512a-06" aria-labelledby="512a-06-title">
  <h3 id="512a-06-title" class="h5">Step 3. Coordinate</h3>

  <!-- TODO: add content for 512a-06 -->
</section>

<section id="512a-07" aria-labelledby="512a-07-title">
  <h3 id="512a-07-title" class="h5">Credit Points for FMP Step 3</h3>

  <!-- TODO: add content for 512a-07 -->
</section>

<section id="512a-08" aria-labelledby="512a-08-title">
  <h3 id="512a-08-title" class="h5">Step 4. Assess the hazard</h3>

  <!-- TODO: add content for 512a-08 -->
</section>

<section id="512a-09" aria-labelledby="512a-09-title">
  <h3 id="512a-09-title" class="h5">Community Credit Points for FMP Step 4</h3>

  <!-- TODO: add content for 512a-09 -->
</section>

<section id="512a-10" aria-labelledby="512a-10-title">
  <h3 id="512a-10-title" class="h5">Step 5. Assess the problem</h3>

  <!-- TODO: add content for 512a-10 -->
</section>

<section id="512a-11" aria-labelledby="512a-11-title">
  <h3 id="512a-11-title" class="h5">Credit Points for FMP Step 5</h3>

  <!-- TODO: add content for 512a-11 -->
</section>

<section id="512a-12" aria-labelledby="512a-12-title">
  <h3 id="512a-12-title" class="h5">Step 6. Set goals</h3>

  <!-- TODO: add content for 512a-12 -->
</section>

<section id="512a-13" aria-labelledby="512a-13-title">
  <h3 id="512a-13-title" class="h5">Credit Points for FMP Step 6</h3>

  <!-- TODO: add content for 512a-13 -->
</section>

<section id="512a-14" aria-labelledby="512a-14-title">
  <h3 id="512a-14-title" class="h5">Step 7. Review possible activities</h3>

  <!-- TODO: add content for 512a-14 -->
</section>

<section id="512a-15" aria-labelledby="512a-15-title">
  <h3 id="512a-15-title" class="h5">Credit Points for FMP Step 7</h3>

  <!-- TODO: add content for 512a-15 -->
</section>

<section id="512a-16" aria-labelledby="512a-16-title">
  <h3 id="512a-16-title" class="h5">Step 8. Draft an action plan</h3>

  <!-- TODO: add content for 512a-16 -->
</section>

<section id="512a-17" aria-labelledby="512a-17-title">
  <h3 id="512a-17-title" class="h5">Credit Points for FMP Step 8</h3>

  <!-- TODO: add content for 512a-17 -->
</section>

<section id="512a-18" aria-labelledby="512a-18-title">
  <h3 id="512a-18-title" class="h5">Step 9. Adopt the plan</h3>

  <!-- TODO: add content for 512a-18 -->
</section>

<section id="512a-19" aria-labelledby="512a-19-title">
  <h3 id="512a-19-title" class="h5">Step 10. Implement, evaluate, and revise</h3>

  <!-- TODO: add content for 512a-19 -->
</section>

<section id="512a-20" aria-labelledby="512a-20-title">
  <h3 id="512a-20-title" class="h5">Credit Points for FMP Step 10</h3>

  <!-- TODO: add content for 512a-20 -->
</section>

<section id="512a-21" aria-labelledby="512a-21-title">
  <h3 id="512a-21-title" class="h5">Five-year Update</h3>

  <!-- TODO: add content for 512a-21 -->
</section>

<section id="512a-22" aria-labelledby="512a-22-title">
  <h3 id="512a-22-title" class="h5">Impact Adjustment for FMP</h3>

  <!-- TODO: add content for 512a-22 -->
</section>

<section id="512a-23" aria-labelledby="512a-23-title">
  <h3 id="512a-23-title" class="h5">Documentation for FMP Provided by the Community</h3>

  <!-- TODO: add content for 512a-23 -->
</section>
</section>

<section id="512b" aria-labelledby="512b-title">
  <h2 id="512b-title" class="h4">512.b. Repetitive loss area analysis (RLAA)</h2>

  <!-- TODO: add content for 512b -->

<section id="512b-1" aria-labelledby="512b-1-title">
  <h3 id="512b-1-title" class="h5">Credit Criteria for RLAA</h3>

  <!-- TODO: add content for 512b-1 -->
</section>

<section id="512b-2" aria-labelledby="512b-2-title">
  <h3 id="512b-2-title" class="h5">Credit Points for RLAA</h3>

  <!-- TODO: add content for 512b-2 -->
</section>

<section id="512b-3" aria-labelledby="512b-3-title">
  <h3 id="512b-3-title" class="h5">Impact Adjustment for RLAA</h3>

  <!-- TODO: add content for 512b-3 -->
</section>

<section id="512b-4" aria-labelledby="512b-4-title">
  <h3 id="512b-4-title" class="h5">Documentation for RLAA Provided by the Community</h3>

  <!-- TODO: add content for 512b-4 -->
</section>
</section>

<section id="512c" aria-labelledby="512c-title">
  <h2 id="512c-title" class="h4">512.c. Natural floodplain functions plan (NFP)</h2>

  <!-- TODO: add content for 512c -->

<section id="512c-1" aria-labelledby="512c-1-title">
  <h3 id="512c-1-title" class="h5">Credit Criteria for NFP</h3>

  <!-- TODO: add content for 512c-1 -->
</section>

<section id="512c-2" aria-labelledby="512c-2-title">
  <h3 id="512c-2-title" class="h5">Credit Points for NFP</h3>

  <!-- TODO: add content for 512c-2 -->
</section>

<section id="512c-3" aria-labelledby="512c-3-title">
  <h3 id="512c-3-title" class="h5">Impact Adjustment for NFP</h3>

  <!-- TODO: add content for 512c-3 -->
</section>

<section id="512c-4" aria-labelledby="512c-4-title">
  <h3 id="512c-4-title" class="h5">Documentation for NFP Provided by the Community</h3>

  <!-- TODO: add content for 512c-4 -->
</section>
</section>

<section id="512d" aria-labelledby="512d-title">
  <h2 id="512d-title" class="h4">512.d. Substantial Damage Management Plan (SDP)</h2>

  <!-- TODO: add content for 512d -->

<section id="512d-1" aria-labelledby="512d-1-title">
  <h3 id="512d-1-title" class="h5">Credit Criteria for SDP</h3>

  <!-- TODO: add content for 512d-1 -->
</section>

<section id="512d-2" aria-labelledby="512d-2-title">
  <h3 id="512d-2-title" class="h5">Credit Points for SDP</h3>

  <!-- TODO: add content for 512d-2 -->
</section>

<section id="512d-3" aria-labelledby="512d-3-title">
  <h3 id="512d-3-title" class="h5">Impact Adjustment for SDP</h3>

  <!-- TODO: add content for 512d-3 -->
</section>

<section id="512d-4" aria-labelledby="512d-4-title">
  <h3 id="512d-4-title" class="h5">Documentation for SDP Provided by the Community</h3>

  <!-- TODO: add content for 512d-4 -->
</section>
</section>