{# â† add this #}

<section id="521a" aria-labelledby="521a-title">
  <h2 id="521a-title" class="h4">Activity Description</h2>

  <!-- TODO: add content for 521a -->
</section>

<section id="521b" aria-labelledby="521b-title">
  <h2 id="521b-title" class="h4">Activity Credit Criteria</h2>

  <!-- TODO: add content for 521b -->
</section>