

<section id="523a" aria-labelledby="523a-title">
  <h2 id="523a-title" class="h4">523.a. Option 1</h2>

  <!-- TODO: add content for 523a -->
</section>

<section id="523b" aria-labelledby="523b-title">
  <h2 id="523b-title" class="h4">523.b. Option 2</h2>

  <!-- TODO: add content for 523b -->
</section>