{# â† add this #}

<section id="531a" aria-labelledby="531a-title">
  <h2 id="531a-title" class="h4">Activity Description</h2>

  <!-- TODO: add content for 531a -->
</section>

<section id="531b" aria-labelledby="531b-title">
  <h2 id="531b-title" class="h4">Activity Credit Criteria</h2>

  <!-- TODO: add content for 531b -->
</section>