

<section id="532a" aria-labelledby="532a-title">
  <h2 id="532a-title" class="h4">532.a. Flood protection project technique used (TU)</h2>

  <!-- TODO: add content for 532a -->
</section>

<section id="532b" aria-labelledby="532b-title">
  <h2 id="532b-title" class="h4">532.b. Flood Protection Improvement (FPI)</h2>

  <!-- TODO: add content for 532b -->
</section>

<section id="532c" aria-labelledby="532c-title">
  <h2 id="532c-title" class="h4">532.c. Protected buildings (PB)</h2>

  <!-- TODO: add content for 532c -->
</section>