{# â† add this #}

<section id="541a" aria-labelledby="541a-title">
  <h2 id="541a-title" class="h4">Activity Description</h2>

  <!-- TODO: add content for 541a -->
</section>

<section id="541b" aria-labelledby="541b-title">
  <h2 id="541b-title" class="h4">Activity Credit Criteria</h2>

  <!-- TODO: add content for 541b -->
</section>