

<section id="412a-1" aria-labelledby="412a-1-title">
  <h2 id="412a-1-title" class="h5">Credit Criteria for NS</h2>

  <!-- TODO: add content for 412a-1 -->
</section>

<section id="412a-2" aria-labelledby="412a-2-title">
  <h2 id="412a-2-title" class="h5">Credit Points for NS</h2>

  <!-- TODO: add content for 412a-2 -->
</section>

<section id="412a-3" aria-labelledby="412a-3-title">
  <h2 id="412a-3-title" class="h5">Impact Adjustment for NS</h2>

  <!-- TODO: add content for 412a-3 -->
</section>

<section id="412a-4" aria-labelledby="412a-4-title">
  <h2 id="412a-4-title" class="h5">Documentation for NS Provided by the Community</h2>

  <!-- TODO: add content for 412a-4 -->
</section>