

<section id="412c-1" aria-labelledby="412c-1-title">
  <h2 id="412c-1-title" class="h5">Credit Criteria for SR</h2>

  <!-- TODO: add content for 412c-1 -->
</section>

<section id="412c-2" aria-labelledby="412c-2-title">
  <h2 id="412c-2-title" class="h5">Credit Points for SR</h2>

  <!-- TODO: add content for 412c-2 -->
</section>

<section id="412c-3" aria-labelledby="412c-3-title">
  <h2 id="412c-3-title" class="h5">Impact Adjustment for SR</h2>

  <!-- TODO: add content for 412c-3 -->
</section>

<section id="412c-4" aria-labelledby="412c-4-title">
  <h2 id="412c-4-title" class="h5">Documentation for SR Provided by the Community</h2>

  <!-- TODO: add content for 412c-4 -->
</section>