

<section id="412d-1" aria-labelledby="412d-1-title">
  <h2 id="412d-1-title" class="h5">Credit Criteria for HSS</h2>

  <!-- TODO: add content for 412d-1 -->
</section>

<section id="412d-2" aria-labelledby="412d-2-title">
  <h2 id="412d-2-title" class="h5">Credit Points for HSS</h2>

  <!-- TODO: add content for 412d-2 -->
</section>

<section id="412d-3" aria-labelledby="412d-3-title">
  <h2 id="412d-3-title" class="h5">Impact Adjustment for HSS</h2>

  <!-- TODO: add content for 412d-3 -->
</section>

<section id="412d-4" aria-labelledby="412d-4-title">
  <h2 id="412d-4-title" class="h5">Documentation for HSS Provided by the Community</h2>

  <!-- TODO: add content for 412d-4 -->
</section>