

<section id="412e-1" aria-labelledby="412e-1-title">
  <h2 id="412e-1-title" class="h5">Credit Criteria for FWS</h2>

  <!-- TODO: add content for 412e-1 -->
</section>

<section id="412e-2" aria-labelledby="412e-2-title">
  <h2 id="412e-2-title" class="h5">Credit Points for FWS</h2>

  <!-- TODO: add content for 412e-2 -->
</section>

<section id="412e-3" aria-labelledby="412e-3-title">
  <h2 id="412e-3-title" class="h5">Impact Adjustment for FWS</h2>

  <!-- TODO: add content for 412e-3 -->
</section>

<section id="412e-4" aria-labelledby="412e-4-title">
  <h2 id="412e-4-title" class="h5">Documentation for FWS Provided by the Community</h2>

  <!-- TODO: add content for 412e-4 -->
</section>