

<section id="422b-1" aria-labelledby="422b-1-title">
  <h2 id="422b-1-title" class="h5">Credit Criteria for DR</h2>

  <!-- TODO: add content for 422b-1 -->
</section>

<section id="422b-2" aria-labelledby="422b-2-title">
  <h2 id="422b-2-title" class="h5">Credit Points for DR</h2>

  <!-- TODO: add content for 422b-2 -->
</section>

<section id="422b-3" aria-labelledby="422b-3-title">
  <h2 id="422b-3-title" class="h5">Impact Adjustment for DR</h2>

  <!-- TODO: add content for 422b-3 -->
</section>

<section id="422b-4" aria-labelledby="422b-4-title">
  <h2 id="422b-4-title" class="h5">Documentation for DR Provided by the Community</h2>

  <!-- TODO: add content for 422b-4 -->
</section>