

<section id="422d-1" aria-labelledby="422d-1-title">
  <h2 id="422d-1-title" class="h5">Credit Criteria for SHOS</h2>

  <!-- TODO: add content for 422d-1 -->
</section>

<section id="422d-2" aria-labelledby="422d-2-title">
  <h2 id="422d-2-title" class="h5">Credit Calculation for SHOS</h2>

  <!-- TODO: add content for 422d-2 -->
</section>

<section id="422d-3" aria-labelledby="422d-3-title">
  <h2 id="422d-3-title" class="h5">Documentation for SHOS Provided by the Community</h2>

  <!-- TODO: add content for 422d-3 -->
</section>