

<section id="422g-1" aria-labelledby="422g-1-title">
  <h2 id="422g-1-title" class="h5">Credit Criteria for LZ</h2>

  <!-- TODO: add content for 422g-1 -->
</section>

<section id="422g-2" aria-labelledby="422g-2-title">
  <h2 id="422g-2-title" class="h5">Credit Points for LZ</h2>

  <!-- TODO: add content for 422g-2 -->
</section>

<section id="422g-3" aria-labelledby="422g-3-title">
  <h2 id="422g-3-title" class="h5">Impact Adjustment for LZ</h2>

  <!-- TODO: add content for 422g-3 -->
</section>

<section id="422g-4" aria-labelledby="422g-4-title">
  <h2 id="422g-4-title" class="h5">Documentation for LZ Provided by the Community</h2>

  <!-- TODO: add content for 422g-4 -->
</section>