<h1 id="422h-title">422.h. Natural shoreline protection (NSP)</h1>

{# Top-level child headings under this page #}



<section id="422h-1" aria-labelledby="422h-1-title">
  <h2 id="422h-1-title" class="h5">Credit Criteria for NSP</h2>

  <!-- TODO: add content for 422h-1 -->
</section>



<section id="422h-2" aria-labelledby="422h-2-title">
  <h2 id="422h-2-title" class="h5">Credit Points for NSP</h2>

  <!-- TODO: add content for 422h-2 -->
</section>



<section id="422h-3" aria-labelledby="422h-3-title">
  <h2 id="422h-3-title" class="h5">Impact Adjustment for NSP</h2>

  <!-- TODO: add content for 422h-3 -->
</section>



<section id="422h-4" aria-labelledby="422h-4-title">
  <h2 id="422h-4-title" class="h5">Documentation for NSP Provided by the Community</h2>

  <!-- TODO: add content for 422h-4 -->
</section>