

<section id="432i-1" aria-labelledby="432i-1-title">
  <h2 id="432i-1-title" class="h5">Credit Criteria for LDP</h2>

  <!-- TODO: add content for 432i-1 -->
</section>

<section id="432i-2" aria-labelledby="432i-2-title">
  <h2 id="432i-2-title" class="h5">Credit Points for LDP</h2>

  <!-- TODO: add content for 432i-2 -->
</section>

<section id="432i-3" aria-labelledby="432i-3-title">
  <h2 id="432i-3-title" class="h5">Impact Adjustment for LDP</h2>

  <!-- TODO: add content for 432i-3 -->
</section>

<section id="432i-4" aria-labelledby="432i-4-title">
  <h2 id="432i-4-title" class="h5">Documentation for LDP Provided by the Community</h2>

  <!-- TODO: add content for 432i-4 -->
</section>