

<section id="432j-1" aria-labelledby="432j-1-title">
  <h2 id="432j-1-title" class="h5">Credit Criteria for MHP</h2>

  <!-- TODO: add content for 432j-1 -->
</section>

<section id="432j-2" aria-labelledby="432j-2-title">
  <h2 id="432j-2-title" class="h5">Credit Points for MHP</h2>

  <!-- TODO: add content for 432j-2 -->
</section>

<section id="432j-3" aria-labelledby="432j-3-title">
  <h2 id="432j-3-title" class="h5">Impact Adjustment for MHP</h2>

  <!-- TODO: add content for 432j-3 -->
</section>

<section id="432j-4" aria-labelledby="432j-4-title">
  <h2 id="432j-4-title" class="h5">Documentation for MHP Provided by the Community</h2>

  <!-- TODO: add content for 432j-4 -->
</section>