

<section id="432n-0" aria-labelledby="432n-0-title">
  <h2 id="432n-0-title" class="h5">Setback Regulations</h2>

  <!-- TODO: add content for 432n-0 -->
</section>

<section id="432n-1" aria-labelledby="432n-1-title">
  <h2 id="432n-1-title" class="h5">Credit Criteria for CER</h2>

  <!-- TODO: add content for 432n-1 -->
</section>

<section id="432n-2" aria-labelledby="432n-2-title">
  <h2 id="432n-2-title" class="h5">Impact Adjustment for CER</h2>

  <!-- TODO: add content for 432n-2 -->
</section>

<section id="432n-3" aria-labelledby="432n-3-title">
  <h2 id="432n-3-title" class="h5">Credit Calculation for CER</h2>

  <!-- TODO: add content for 432n-3 -->
</section>

<section id="432n-4" aria-labelledby="432n-4-title">
  <h2 id="432n-4-title" class="h5">Documentation for CER Provided by the Community</h2>

  <!-- TODO: add content for 432n-4 -->
</section>