<h1 id="432p-title">432.p. Regulations administration (RA)</h1>

{# Top-level child headings under this page #}



<section id="432p-1" aria-labelledby="432p-1-title">
  <h2 id="432p-1-title" class="h5">Credit Criteria for RA</h2>

  <!-- TODO: add content for 432p-1 -->
</section>



<section id="432p-2" aria-labelledby="432p-2-title">
  <h2 id="432p-2-title" class="h5">Credit Points for RA</h2>

  <!-- TODO: add content for 432p-2 -->
</section>



<section id="432p-3" aria-labelledby="432p-3-title">
  <h2 id="432p-3-title" class="h5">Impact Adjustment for RA</h2>

  <!-- TODO: add content for 432p-3 -->
</section>



<section id="432p-4" aria-labelledby="432p-4-title">
  <h2 id="432p-4-title" class="h5">Documentation for RA Provided by the Community</h2>

  <!-- TODO: add content for 432p-4 -->
</section>