

<section id="442a-1" aria-labelledby="442a-1-title">
  <h2 id="442a-1-title" class="h5">Credit Criteria for AMD</h2>

  <!-- TODO: add content for 442a-1 -->
</section>

<section id="442a-2" aria-labelledby="442a-2-title">
  <h2 id="442a-2-title" class="h5">Credit Points for AMD</h2>

  <!-- TODO: add content for 442a-2 -->
</section>

<section id="442a-3" aria-labelledby="442a-3-title">
  <h2 id="442a-3-title" class="h5">Impact Adjustment for AMD</h2>

  <!-- TODO: add content for 442a-3 -->
</section>

<section id="442a-4" aria-labelledby="442a-4-title">
  <h2 id="442a-4-title" class="h5">Documentation for AMD Provided by the Community</h2>

  <!-- TODO: add content for 442a-4 -->
</section>