---
section_id: 230
section_title: Verification
page_in_manual: 230-1
---
