---
layout: coordinator
permalink: /
---

<h1>{{ site.title }} ({{ site.edition }} Edition)</h1>

<ul>
  {% for section in collections.sections %}
    <li>/{{ section.data.series_id }}/{{ section.data.section_id }}/</li>
  {% endfor %}
</ul>