---
permalink: /
layout: layouts/base.liquid
---

{% assign tags = collections.all | map: "data.tags" | join: "," | split: "," | uniq | sort %}
<ul>
  {% for tag in tags %}
    {% assign firstItem = collections[tag] | sort: "data.section_id" | first %}
    <li>
      <a href="{{ firstItem.url }}">
        {{ firstItem.data.section_title | default: firstItem.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>
