{# ← add this #}

<section id="000-1" aria-labelledby="000-1-title">
  <h2 id="000-1-title" class="h2">Using the “Coordinator’s Manual”</h2>

  <!-- TODO: add content for 000-1 -->
</section>

<section id="000-2" aria-labelledby="000-2-title">
  <h2 id="000-2-title" class="h2">More about the “Coordinator’s Manual”</h2>

  <!-- TODO: add content for 000-2 -->
</section>