<h1 id="533-title">533 Credit Calculation</h1>



<section id="533a" aria-labelledby="533a-title">
  <h2 id="533a-title" class="h4">533.a. Option 1</h2>

  <!-- TODO: add content for 533a -->
</section>

<section id="533b" aria-labelledby="533b-title">
  <h2 id="533b-title" class="h4">533.b. Option 2</h2>

  <!-- TODO: add content for 533b -->
</section>