{% assign prevPost = orderedSections | getNextCollectionItem %}
{% assign nextPost = orderedSections | getPreviousCollectionItem %}

<nav style="text-align:center;">
  {% if nextPost %}
    <a href="{{ nextPost.url }}" title="{{ nextPost.data.title }}" class="btn btn-pagination">« Prev</a>
  {% else %}
    <span class="btn btn-disabled">« Prev</span>
  {% endif %}
  <a href="/" class="btn btn-pagination">All</a>
  {% if prevPost %}
    <a href="{{ prevPost.url }}" title="{{ prevPost.data.title }}" class="btn btn-pagination">Next »</a>
  {% else %}
    <span class="btn btn-disabled">Next »</span>
  {% endif %}
</nav>