

<section id="621a" aria-labelledby="621a-title">
  <h2 id="621a-title" class="h4">621.a. Activity Description</h2>

  <!-- TODO: add content for 621a -->
</section>

<section id="621b" aria-labelledby="621b-title">
  <h2 id="621b-title" class="h4">621.b. Activity Credit Criteria</h2>

  <!-- TODO: add content for 621b -->
</section>

<section id="621c" aria-labelledby="621c-title">
  <h2 id="621c-title" class="h4">621.c. Map of the Affected Area</h2>

  <!-- TODO: add content for 621c -->
</section>